<template name="layout">
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
  	<!-- template; /views/shared/header.html -->
		{{> header}}

    <!-- error template; /views/shared/errors/errors.html -->
		{{> errors}}

	<div class="demo-drawer mdl-layout__drawer mdl-color--blue-500">
  <!-- delete empty paren () when reinstating below code -->
<!--         <header class="demo-drawer-header mdl-color-text-()-white">
          <img src="img/user.jpg" class="demo-avatar">
          {{#if currentUser}}
              <div class="demo-avatar-dropdown">
                <span>Hello {{> _loginButtonsLoggedInSingleLogoutButton}}</span>
                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button-()-icon">
                  <i class="material-icons" role="presentation">arrow_drop_down</i>
                  <span class="visuallyhidden">Accounts</span>
                </button>
                <ul class="mdl-menu mdl-menu-()-bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                  <li class="mdl-menu__item">hello@example.com</li>
                  <li class="mdl-menu__item">info@example.com</li>
                  <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
                </ul>
              </div>
           {{else}}
           			
           {{/if}}
        </header> -->
        {{> sideNav }}
      </div>
    
    <!-- css id:main? -->
    <main class="mdl-layout__content mdl-color--grey-100">
    	<div class="mdl-grid demo-content">

          <!-- the yield helper defines a dynamic zone that -->
          <!-- will render the template that corresponds to -->
          <!-- the current route -->
          {{> yield}}
          
      	</div>
    </main>
    
  </div>
  {{>reportBugs}}
</template>