<template name="reportBugs">
  <dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title">Send Bug Report</h4>
    
  	<form id="bugsForm">
      <div class="mdl-dialog__content">
        Your current URL:<br>
        <div class="mdl-textfield mdl-js-textfield">
            <input type="text" name="url" id="url" class="mdl-textfield__input">
            <label class="mdl-textfield__label" for="url">Your Current URL</label>
        </div><br>
        Describe your problem as detailed as possible:<br>
        <div class="mdl-textfield mdl-js-textfield">
            <textarea id="message" class="mdl-textfield__input"></textarea>
            <label class="mdl-textfield__label" for="message">Message</label>
        </div><br>
        
        <div class="{{errorClass 'success'}}">
          <span class="bugs-help-block" style="color: rgb(46, 123, 50);	">{{errorMessage 'success'}}</span>
        </div>
        <div class="{{errorClass 'fail'}}">
          <span class="bugs-help-block">{{errorMessage 'fail'}}</span>
        </div>
      </div>
      <div class="mdl-dialog__actions">
          <input type="submit" value="Send" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submit">
          <button type="button" class="mdl-button close">Close</button>
      </div>
    </form>  
  </dialog>
</template>