<template name="helpPage">
<!-- change css class 'post-page' to name specific for cB -->
  <div class="job-page page">
    <h4>About/Help</h4>
    <p>
      Please email mnguyenngo@gmail.com or laine.okimoto@gmail.com for any questions with the web application or if you want to report a bug.
    </p>

    <h5>Privacy</h5>
    <p>
      We will not be monitoring your activity unless it is required for debugging.  All your information will be kept confidential.  Offensive material on public pages can be reported to Nguyen or Laine.
    </p>

  </div>
</template>