<!--  -->
<template name="errors">
	<!-- css: puts errors at top right -->
  <div class="errors">
  	<!-- 'errors' is also name of the template helper -->
    {{#each errors}}
    	<!-- see template below -->
      {{> error}}
    {{/each}}
  </div>
</template>

<!-- called on in 'errors' template -->
<template name="error">
	<!-- css: sets the color -->
  <div class="alert alert-danger" role="alert">
  	<!-- &times? -->
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <!-- variable for the 'throwError' function -->
    {{message}}
  </div>
</template>