<template name="linksList">

	<div class="mdl-cell mdl-cell--12-col-desktop">

    <h5 class="display-inline">Submitted Links</h5>
    <a href="/link/submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent right-align margin-top-16">ADD A LINK</a>
	
    <div class="mdl-color--white mdl-shadow--2dp margin-top-16">
			<div class="mdl-grid mdl-grid--no-spacing">

				<div class="mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--2-col-phone border-top-12 border-bottom-12">
					<div class="padding-8 padding-left-24 ">
						Name
					</div>
				</div>  
				
				<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone text-center border-top-12 border-bottom-12">
					<div class="padding-8">
						Tags
					</div>
				</div>

				<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--hide-phone text-center border-top-12 border-bottom-12">
					<div class="padding-8">
						Updated
					</div>
				</div>
				
				<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--hide-phone text-center border-top-12 border-bottom-12">
					<div class="padding-8">
						Submitted By
					</div>                    
				</div>
			</div>

			<div class="mdl-grid mdl-grid--no-spacing">
				{{#each links}}
					<div class="mdl-cell mdl-cell--5-col mdl-cell--3-col-tablet mdl-cell--2-col-phone border-bottom-12">
						<div class="padding-8 padding-left-24 ">
							<h6 class="no-top-margin no-bottom-margin">
								<a href="{{url}}" class="no-und">{{title}} </a>
								<span>({{domain}})</span>
							</h6>

							<a href="/link/{{_id}}" class="no-und">{{commentsCount}} comments</a>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone text-center border-bottom-12">
						<div class="padding-8">
							{{#each tagsList}}
								<div class="tag-pill-table tag-pill">
									<a href="/tags/{{tagId}}">#{{this}}</a>
								</div>
							{{/each}}
						</div>
					</div>

					<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--hide-phone text-center border-bottom-12">
						<div class="padding-8">
							{{convertDate updated}}
						</div>
					</div>

					<div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--hide-phone text-center border-bottom-12">
						<div class="padding-8">
							<a href="/user/{{userId}}">{{author}}</a>
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>