<template name="linkPage">
<!-- change css class 'post-page' to name specific for cB -->
  <div class="job-page page mdl-cell mdl-cell--12-col padding-8">

    <h5 class="no-top-margin no-bottom-margin display-inline">
      <a href="{{url}}">{{title}}</a>
    </h5>

    &nbsp;&nbsp;

    <span class="no-bottom-margin">
      {{#each tagsList}}
        <div class="tag-pill"><a href="/tags/{{tagId}}">#{{this}}</a></div>
      {{/each}}
    </span>

    &nbsp;&nbsp;&nbsp;

    <div class="display-inline">
      <div class="mdl-textfield mdl-js-textfield table-textfield no-padding">
        {{> inputAutocomplete settings=settings name="tags" class="input-xlarge mdl-textfield__input" id="addTags" placeholder="add #tags" autocomplete="off"}}
        <label class="mdl-textfield__label" for="tags"></label>       
      </div>
      <span class="mdl-button mdl-js-button mdl-button--icon add-tags"><i class="material-icons mdl-18 blue500">add</i></span>
    </div>

    {{#if linkHasAuthor}}
      <p>
        Submitted by: <a href="/user/{{userId}}" class="no-und">{{userName}}</a>
        {{#if linkOwner}}
          <span class="mdl-button mdl-js-button mdl-button--icon remove-author"><i class="material-icons mdl-18 pinkA200">cancel</i></span> 
        {{/if}} 
        on {{convertDate submitted}} (Last updated: {{convertDate updated}})
      </p> <br>
    {{/if}}
    <span>{{commentsCount}} comments</span>
  </div>
  
  <div class="job-page page mdl-cell mdl-cell--12-col">
    <!-- list comments -->
   <div class=" mdl-card mdl-shadow--2dp card-centered mdl-cell mdl-cell--12-col ">
    <div class="comments mdl-grid">
    	{{#each comments}}
    		{{> commentItem}}
    	{{/each}}
    </div>

    <!-- if user is logged in, they can comment -->
    {{#if currentUser}}
    	{{> commentSubmit}}
    {{else}}
    	<p>&nbsp;&nbsp;&nbsp;Please log in to leave a comment.</p>
    {{/if}}
   </div>
  </div>
</template>