<template name="linkSubmit">
	<h5 class="padding-left-8">Resources</h5>
	<form>        
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--4-col">
				<div class="{{errorClass 'title'}} project-lists-table">
					<div class="mdl-textfield mdl-js-textfield no-padding">
						<input name="title" id="title" type="text" class="mdl-textfield__input" placeholder="Title">
						<label class="mdl-textfield__label" for="title"></label>
					</div>
					<span class="help-block"><br>{{errorMessage 'title'}}</span>
				</div>
			</div>

			<div class="mdl-cell mdl-cell--4-col">
				<div class="{{errorClass 'url'}} project-lists-table">
					<div class="mdl-textfield mdl-js-textfield no-padding">
						<input name="url" id="url" type="text" value="" class="mdl-textfield__input" placeholder="URL">
						<label class="mdl-textfield__label" for="url"></label>
					</div>
					<span class="help-block"><br>{{errorMessage 'url'}}</span>
				</div>
			</div>

			<div class="mdl-cell mdl-cell--4-col">
				<div class="mdl-textfield mdl-js-textfield no-padding">
					{{> inputAutocomplete settings=settings name="tags" class="input-xlarge mdl-textfield__input" placeholder="Add tags" autocomplete="off"}}
					<label class="mdl-textfield__label" for="tags"></label>
				</div>
			</div>

			<div class="mdl-cell mdl-cell--4-col">        
				<input type="submit" value="add" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submit">
			</div>
		</div>
	</form>
</template>