<template name="newProject">	
	<div class="mdl-cell mdl-cell--12-col">
		<form class="form job-form">
			<h6 class="padding-left-16">New Project Builder</h6>

			<!-- project name card -->
			<div class="mdl-grid">
				<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col-desktop mdl-cell--4-col">
					<div class="mdl-card__supporting-text mdl-grid auto-margin">
						<div class="mdl-cell mdl-cell--12-col">
							<div class="{{errorClass 'title'}}">
								<label>1. Name your project (required)</label>
								<div class="mdl-textfield mdl-js-textfield">
									<input name="title" id="title" type="text" class="mdl-textfield__input" autocomplete="off" placeholder="## - Building Name">
								</div>
								<span class="help-block">{{errorMessage 'title'}}</span>
							</div>
						</div>
					</div>
				</div>

				<!-- deadline card -->
				<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
					<div class="mdl-card__supporting-text mdl-grid auto-margin">
						<div class="mdl-cell mdl-cell--12-col">
							<div class="{{errorClass 'deadline'}}">
								<label>2. Set a deadline (YYYY/MM/DD)</label>
								<div class="mdl-textfield mdl-js-textfield">
									<input name="deadline" id="deadline" type="date" class="mdl-textfield__input" autocomplete="off">
								</div>
								<span class="help-block">{{errorMessage 'deadline'}}</span>
							</div>
						</div>
					</div>
				</div>

				<!-- phases card -->
				<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
					<div class="mdl-card__supporting-text mdl-grid auto-margin">
						<div class="mdl-cell mdl-cell--12-col">
							<!-- phases list -->
							<label>3. Select phases</label>
							<div class="padding-16">
								{{#each defaultphases}}
									<div>
										<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{this}}" style="height:auto;">
											<input type="checkbox" id="{{this}}" class="mdl-checkbox__input phasecheckbox" value="{{this}}" checked>
											<span class="mdl-checkbox__label">{{this}}</span>
										</label>
									</div>
								{{/each}}
							</div>
						</div>
					</div>
				</div>

				<!-- currency card -->
				<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
					<div class="mdl-card__supporting-text mdl-grid">
						<div class="mdl-cell mdl-cell--12-col">
							<!-- phases list -->
							<label>4. Set the type of currency</label>
							<div class="padding-16">
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
									<input type="radio" id="option-1" class="mdl-radio__button currencycheckbox" value="virtual" checked>
									<span class="mdl-radio__label">Virtual</span>
								</label> <br> <br>
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
									<input type="radio" id="option-2" class="mdl-radio__button currencycheckbox" value="dollars" disabled>
									<span class="mdl-radio__label">Dollars</span>
								</label>
								<p style="padding-left:24px; font-size:75%; color:#F06292; line-height: 13px;">COMING SOON</p>
							</div>
							<br>
							<p style="padding-left:16px; line-height:13px;">You will not be able to change this setting after the project is created.</p>
						</div>
					</div>
				</div>

				<!-- invitations card -->
				<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
					<div class="mdl-card__supporting-text mdl-grid">
						<div class="mdl-cell mdl-cell--12-col">
							<!-- phases list -->
							<label>5. Will the project be private or public? </label>
							<div class="padding-16">
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="privacy-1">
									<input type="radio" id="privacy-1" name="privacy" class="mdl-radio__button invitecheckbox" value="private" checked>
									<span class="mdl-radio__label">Private</span>
								</label>
								<p style="padding-left:24px; line-height:13px;">New members will require an invitation before joining the project.</p>
							</div>
							<div class="padding-16">
								<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="privacy-2">
									<input type="radio" id="privacy-2" name="privacy" class="mdl-radio__button invitecheckbox" value="public">
									<span class="mdl-radio__label">Public</span>
								</label>
								<p style="padding-left:24px; line-height:13px;">Any member will be able to contribute to your project.</p>
							</div>
						</div>
					</div>
				</div>						

				<!-- Submit button -->
				<div class="mdl-cell mdl-cell--12-col">
					<div class="right-align">
						<a href="/project/{{project}}" class="padding-right-16">Cancel</a>
						<input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submit">
					</div>
				</div>

			</div> <!-- end mdl-grid -->
		</form>
	</div>
</template>