<template name="projectsList">

<!--
	<div class="mdl-cell mdl-cell-!-12-col filter-buttons mdl-grid">
		<select id="projectType">
			<option class="show-active" value="active" selected>
				<h5>Active Projects</h5>
			</option>
			<option class="show-closed" value="closed">
				<h5>Closed Projects</h5>
			</option>
		</select>
		<div class="mdl-layout-spacer"></div>
		<a class="mdl-button mdl-js-button mdl-button-!-raised mdl-js-ripple-effect mdl-button-!-colored margin-top-18" href="/new-project">NEW PROJECT</a>
	</div>
--> 

<!--
	<div class="mdl-cell mdl-cell-!-12-col active-table">
		<div class="mdl-color-!-white mdl-shadow-!-2dp project-list">
			{{> projectsListTableHead}}
			{{#each projects}}
				{{> projectsListTable}}
			{{/each}}
		</div>
	</div>
-->

<!--
	<div class="mdl-cell mdl-cell-!-12-col invited-table">
		{{#if gotInvitations}}
			<h5>Join other projects...</h5>
			-->
			<!-- invited tables -->
<!--			
			<div class="mdl-color-!-white mdl-shadow-!-2dp project-list">
				{{> projectsListTableHead}}
				{{#each invitedProjects}}
					{{> projectsListTable}}
				{{/each}}
			</div>
		{{/if}}
	</div>
-->


	<!-- closed project table -->
<!--
	<div class="mdl-cell mdl-cell-!-12-col closed-table">		
		<div class="mdl-color-!-white mdl-shadow-!-2dp project-list">
			{{> projectsListTableHead}}
			{{#each closedProjects}}
				{{> projectsListTable}}
			{{/each}}		
		</div>
	</div> --> <!-- end closed project table -->


	<div class="mdl-cell mdl-cell--12-col">
		<h5>Recently Updated Tags</h5>
		<div>
			{{#each tags}}
				<a href="/tags/{{_id}}" class="mdl-button mdl-js-button mdl-js-ripple-effect">#{{name}}</a>
			{{/each}}		
		</div>
	</div>

	<div class="mdl-cell mdl-cell--12-col">
		<h5>Recently Submitted Links</h5>
	</div>
	
	{{#each links}}
		<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col border-bottom-12">
			<div>
				<h6 class="no-top-margin no-bottom-margin">
					<a href="{{url}}" class="no-und">{{title}} </a>
					<span>({{domain}})</span>
				</h6>
				
				<div>
					{{#each tagsList}}
						<div class="tag-pill-table tag-pill">
							<a href="/tags/{{tagId}}">#{{this}}</a>
						</div>
					{{/each}}
				</div>

				<a href="/link/{{_id}}" class="no-und">{{commentsCount}} comments</a>
			</div>
		</div>
	{{/each}}
</template>

<template name="projectsListTableHead">
	<div class="mdl-grid mdl-grid--no-spacing border-bottom-12">
		<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--2-col-phone padding-16">
			Project Name
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone padding-16">
			Deadline
		</div>		
		<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone text-center padding-16">
			<i class="material-icons" id="collaborators">group</i>
			<span class="mdl-tooltip" for="collaborators">
				# of Collaborators
			</span>
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone text-center padding-16">
			Jobs
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--hide-phone text-center">
			<!-- empty -->
		</div>
	</div>
</template>

<template name="projectsListTable">
	<div class="mdl-grid mdl-grid--no-spacing border-bottom-12">
		<div class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--2-col-phone padding-16">
			<a href="/project/{{_id}}">{{title}}</a>
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone padding-16">
			{{deadline}}
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone text-center padding-16">
			{{memberCount}}
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone text-center padding-16">
			{{jobDoneQuantity}}/<strong>{{jobQuantity}}</strong>
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet  mdl-cell--hide-phone text-center delete-icon">
			{{#unless closed}}
				{{#if teamMember}}
					<!-- active projects -->
					{{#if isCreator}}
						<span id="{{_id}}" class="mdl-button mdl-js-button mdl-js-ripple-effect close">close</span>							
					{{else}}
						<span id="{{_id}}" class="mdl-button mdl-js-button mdl-js-ripple-effect leave">leave</span>
					{{/if}}
				{{/if}}

				{{#if invitedMember}}
					<!-- invited projects -->
					<input type="button" value="join" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored join table-button">
					<span id="{{_id}}" class="mdl-button mdl-js-button mdl-button--icon decline">
						<i class="material-icons">cancel</i>
					</span>
				{{/if}}

			{{else}}
				<!-- closed projects -->
				{{#if isCreator}}
					<span id="{{_id}}" class="mdl-button mdl-js-button mdl-js-ripple-effect reopen">re-open</span>
				{{else}}
					<span id="{{_id}}" class="mdl-button mdl-js-button mdl-js-ripple-effect leave">leave</span>
				{{/if}}
			{{/unless}}
		</div>
	</div>	
</template>