<template name="projectActivity">
<!-- change css class 'post-page' to name specific for cB -->
  <div class="mdl-cell mdl-cell--12-col">

  <!-- <a href="/project/{{_id}}">&#171; Back to dashboard</a> -->

    <div>
      <p><strong>Activity for <a href="/project/{{_id}}">{{title}}</a></strong></p>
    </div>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-desktop">
        <h5>
          Project Activity
          <p class="display-inline">(newest first)</p>
        </h5>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <tbody>
            {{#each activities}}
              <tr>
                <td class="mdl-data-table__cell--non-numeric">{{author}}<br>{{convertDate submitted}}</td>
                <td class="mdl-data-table__cell--non-numeric">
                  <a href="/job/{{jobId}}">{{activityBody}}</a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div> <!-- end mdl-grid -->      
  </div> <!-- end mdl-cell -->
</template>
