<template name="projectPage">
	<div class="mdl-cell mdl-cell--12-col mdl-grid">
		<h5>Project: {{title}}</h5>

		<!-- link to info page -->
		<a id="project-info" href="/project/{{_id}}/info" class="mdl-button mdl-js-button mdl-button--icon project-info-icon"><i class="material-icons">info_outline</i></a>
		<span class="mdl-tooltip" for="project-info">
			Project Info & Settings
		</span>

		<!-- team member list in dropdown -->
		<button id="menu-member" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored project-info-icon"><i class="material-icons">group</i></button>

		<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect invite-menu mdl-menu--bottom-right mdl-cell--hide-desktop" for="menu-member">
			{{#each admin}}
				<a href="/user/{{this}}">
					<li class="mdl-menu__item notification-text-style">
						{{memberName}} (admin)
					</li>
				</a>
			{{/each}}

			{{#each members}}
				<a href="/user/{{this}}">
					<li class="mdl-menu__item notification-text-style">
						{{memberName}}
					</li>
				</a>  
			{{/each}}
			
			{{#if isAdmin}}
				<a href="/project/{{_id}}/info">
					<li class="mdl-menu__item notification-text-style invited-row">
						Invite collaborators
					</li>
				</a>
			{{/if}}
		</ul>

		<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect invite-menu mdl-cell--hide-tablet mdl-cell--hide-phone" for="menu-member">
			{{#each admin}}
				<a href="/user/{{this}}">
					<li class="mdl-menu__item notification-text-style">
						{{memberName}} (admin)
					</li>
				</a>
			{{/each}}

			{{#each members}}
				<a href="/user/{{this}}">
					<li class="mdl-menu__item notification-text-style">
						{{memberName}}
					</li>
				</a>  
			{{/each}}
			
			{{#if isAdmin}}
				<a href="/project/{{_id}}/info">
					<li class="mdl-menu__item notification-text-style invited-row">
						Invite collaborators
					</li>
				</a>
			{{/if}}
		</ul>	

	  <!-- new job button -->
		<div class="mdl-layout-spacer"></div>

  	<span class="project-page-buttons">
			<!-- link to new-job submit form -->
			{{#if teamMember}}
				<a href="{{pathFor 'flowsList'}}" class="no-und">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
						<i class="material-icons md-light">get_app</i> LOAD FLOW
					</button>
				</a>

				<a href="{{pathFor 'newJob'}}">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
						<i class="material-icons md-light">add</i> NEW JOB
					</button>
				</a>
			{{/if}}
		</span>
	</div>

	<div class="mdl-cell mdl-cell--12-col mdl-grid filter-buttons">
		<h6>Filter:</h6> 
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect show-open is-active">Open</button>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect show-locked">Locked</button>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect show-done">Done</button>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect show-all">All</button>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect show-deleted">Deleted</button>
	</div>

	<!--Leave mdl-cell-12 in. projects with only 1 job will display incorrectly if deleted -->
	<div class="mdl-cell mdl-cell--12-col mdl-grid project-page no-padding">
		<!-- job-list -->
		{{#each jobs}}
			<!-- job-item template -->
			{{> jobItem}}<br>
		{{/each}}
	</div>
</template>