<template name="projectSchedule">
	<div class="mdl-cell mdl-cell--12-col">
		<div class="padding-left-8">
			<p>Project: <a href="/project/{{_id}}"><strong>{{title}}</strong></a></p>
			<p><a href="/project/{{_id}}/cost">Project Cost Estimate</a></p>
		</div>

		<!-- Teams table -->
		<h5 class="padding-left-8">Schedule</h5>

		<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
			<div class="mdl-grid mdl-grid--no-spacing border-top-12 border-bottom-12 groups-header">
				<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
					<div class="padding-16 padding-left-24">
						Phase
					</div>
				</div>
				<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
					<div class="padding-16 padding-left-24">
						Jobs
					</div>
				</div>
			</div>

			{{#each phases}}
				<div class="mdl-grid mdl-grid--no-spacing border-bottom-12">
					<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
						<div class="padding-16 padding-left-24">
							{{this}}
						</div>
					</div>
					<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
						<div class="padding-16 padding-left-24">
							<!-- Jobs -->
						</div>
					</div>
				</div>
			{{/each}}
		</div>
	</div> <!-- end mdl-cell -->
</template>