<template name="projectInfo">
	<div class="mdl-cell mdl-cell--12-col">
		<div class="padding-left-8">
			<div class="bold-text">Info for <a class="bold-text" href="/project/{{_id}}">{{title}}</a></div>
			<div class="margin-top-16">
				<a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Team</a>
				<a href="/project/{{_id}}/cost" class="mdl-button mdl-js-button mdl-js-ripple-effect">Cost Estimate</a>
				<a href="/project/{{_id}}/schedule" class="mdl-button mdl-js-button mdl-js-ripple-effect">Schedule</a>
			</div>
		</div>

		<!-- Privacy table -->
		<h5 id="privacy-table" class="padding-left-8 display-inline">Privacy</h5>
		<span class="padding-left-8">(This project is set to <a href="/#">{{invitations}}</a>)</span>

		<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col">
			<div class="mdl-grid mdl-grid--no-spacing">
				<div class="mdl-cell mdl-cell--12-col">
					<div class="padding-16 padding-left-24">
						Set project to:
					</div>
				</div>
				<div class="mdl-cell mdl-cell--6-col">
					<div class="padding-16 padding-left-24">
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="privacy-1">
							<input type="radio" id="privacy-1" name="privacy" class="mdl-radio__button invitecheckbox" value="private" checked="{{privacySetToPrivate}}">
							<span class="mdl-radio__label">Private</span>
						</label>
						<p style="padding-left:24px; line-height:13px;">New members will require an invitation before joining the project.</p>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--6-col">
					<div class="padding-16 padding-left-24">
						<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="privacy-2">
							<input type="radio" id="privacy-2" name="privacy" class="mdl-radio__button invitecheckbox" value="public" checked="{{privacySetToPublic}}">
							<span class="mdl-radio__label">Public</span>
						</label>
						<p style="padding-left:24px; line-height:13px;">Any member will be able to contribute to your project.</p>
					</div>
				</div>
				<div class="mdl-cell mdl-cell--12-col padding-8">
					<input type="button" value="save" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored right-align privacy-toggle">
				</div>
			</div>
		</div>

		<!-- Members table -->
		<h5 id="team-members" class="padding-left-8">Members</h5>

		<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col">
			{{#each admin}}
				<div class="mdl-grid mdl-grid--no-spacing">
					<div class="mdl-cell mdl-cell--12-col border-top-12 border-bottom-12">
						<div class="padding-8 padding-left-24 team-admin-text">
							<a href="/user/{{this}}">{{memberName}}</a> (admin)
						</div>
					</div>
				</div>
			{{/each}}

			{{#each members}}
				<div class="mdl-grid mdl-grid--no-spacing">
					<div class="mdl-cell mdl-cell--12-col border-bottom-12">
						<div class="padding-8 padding-left-24 mdl-grid">
							<a href="/user/{{this}}" class="team-other-users">{{memberName}}</a>

							<div class="mdl-layout-spacer"></div>

							{{#if isAdminInChild}}
								<input type="button" value="make admin" class="mdl-button mdl-js-button mdl-js-ripple-effect makeAdmin">
							{{/if}}
						</div>
					</div>
				</div>
			{{/each}}

			{{#each invited}}
				<div class=" mdl-grid mdl-grid--no-spacing invited-row">
					<div class="mdl-cell mdl-cell--12-col border-bottom-12">
						<div class="padding-8 padding-left-24 mdl-grid">
			  			<span class="team-other-users"><a href="/user/{{this}}">{{memberName}}</a> &nbsp;(invited)</span>

			  			<div class="mdl-layout-spacer"></div>

						  {{#if isAdminInChild}}
						  	<span class="mdl-button mdl-js-button mdl-button--icon uninvite team-other-users"><i class="material-icons">cancel</i></span>
						  {{/if}}
						</div>
					</div>
				</div>
			{{/each}}

			{{#if isAdmin}}
				<div class="mdl-grid mdl-grid--no-spacing">
					<div class="mdl-cell mdl-cell--12-col border-bottom-12">
						<div class="padding-left-24 mdl-grid">
							<div class="mdl-textfield mdl-js-textfield table-textfield">
							  {{> inputAutocomplete settings=settings name="invite" class="input-xlarge mdl-textfield__input" id="invite" placeholder="Invite collaborators" autocomplete="off"}}
							  <label class="mdl-textfield__label table-label" for="invite"></label>
							</div>

							<div class="mdl-layout-spacer"></div>

							<input type="button" value="invite" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored invite">
						</div>
					</div>
				</div>
			{{/if}}
		</div>

		<!-- Teams table -->
		<h5 class="padding-left-8 display-inline">Teams</h5>
		<span>(subscribe for notifications)</span>

		<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col">
			<div class="mdl-grid mdl-grid--no-spacing border-top-12 border-bottom-12 groups-header">
				<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
					<div class="padding-16 padding-left-24">
						Assignments
					</div>
				</div>
				<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
					<div class="padding-16 padding-left-24">
						Leaders
					</div>
				</div>
			</div>

			{{#each assignments}}
				{{> assignmentRow}}
			{{/each}}

			<!-- input for new assignments -->
			{{#if teamMember}}
				<div class="mdl-grid mdl-grid--no-spacing">
					<div class="mdl-cell mdl-cell--12-col ">
						<div class="padding-left-24 mdl-grid">
							<div class="mdl-textfield mdl-js-textfield table-textfield">
				  			<input name="title" id="assignment" type="text" class="mdl-textfield__input table-input" placeholder="New Assignment">
				  			<label class="mdl-textfield__label table-label" for="assignment"></label>
							</div>
							<div class="mdl-layout-spacer"></div>
							<input type="submit" value="ADD" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submit ">
						</div>
					</div>
				</div>
			{{/if}}
		</div>

		<!-- Project Activity table -->
		<h5 id="project-activity" class="padding-left-8 display-inline">Project Activity</h5>
		<span>
			(newest first)&nbsp;&nbsp;<a href="/project/{{_id}}/activity">see all</a>
		</span>
		
		<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col">
			{{#each activities}}
				<div class="mdl-grid mdl-grid--no-spacing border-bottom-12">
					<div class="padding-8">
						{{author}}<br>{{convertDate submitted}}
					</div>
					<div class="mdl-layout-spacer"></div>
					<div class="padding-16">
						<a href="/job/{{jobId}}">{{activityBody}}</a>
					</div>
				</div>
			{{/each}}
		</div>
	</div> <!-- end mdl-cell -->
</template>

<!-- template for the assignment table -->
<template name="assignmentRow">
	<div class="mdl-grid mdl-grid--no-spacing border-bottom-12">
		<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone padding-left-24 padding-16">
			{{title}}
		</div>
		<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone padding-left-24 padding-8">
			{{#each leader}}{{memberName}}<br>{{/each}}
		</div>
		<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone padding-left-24 padding-8 text-right">
			{{#if teamMember}}
				{{#if assignedLeader}}
					<span class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored unassign"><i class="material-icons">person_add</i></span>
				{{else}}
					<span class="mdl-button mdl-js-button mdl-button--icon assign"><i class="material-icons">person_add</i></span>
				{{/if}}
			{{/if}}

			{{#if isAdmin}}
				<span class="mdl-button mdl-js-button mdl-button--icon remove"><i class="material-icons">cancel</i></span>
			{{/if}}
		</div>
	</div>
</template>