<template name="costPage">
	<div class="mdl-cell mdl-cell--12-col">
		<div class="job-page page">
			<h5 class="padding-left-8">Cost Estimate</h5>
			<div>Currency is set to {{currency}}</div>
			<p><a href="/project/{{_id}}/cost/submit">Add Cost Item</a></p>

			<div class="mdl-cell mdl-cell--12-col no-bottom-margin">
				<div class="mdl-grid mdl-grid--no-spacing border-bottom-12">
					<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone padding-8 padding-left-24">
						<strong>Title</strong>
					</div>
				
					<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--hide-phone padding-8">
						<strong>Tags</strong>
					</div>

					<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone padding-8">
						<strong>Target cost</strong>
					</div>
					<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone padding-8">
						<strong>Actual cost</strong>
					</div>					
				</div>
			</div>

			{{#each phases}}
				<div class="margin-bottom-16">
				<div class="mdl-cell mdl-cell--12-col phase-row mdl-shadow--2dp no-bottom-margin no-top-margin">
					<div class="mdl-grid mdl-grid--no-spacing border-bottom-12">
						<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone padding-8 padding-left-24">
							<h6 class="no-margin">
								<span class="sub-head"><strong>PHASE:</strong></span>
								{{this}}
							</h6>
						</div>
					
						<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--hide-phone padding-8">
							<!-- empty; other rows have tags -->
						</div>

						<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--2-col-phone padding-8">
							<!-- total cost for phase -->
						</div>
					</div>
				</div>

				<div class="mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--2dp no-bottom-margin no-top-margin">
					{{#each costs}}
						{{> costRow}}
					{{/each}}
				</div>
				</div>
			{{/each}}
		</div>
	</div>
</template>

<!-- called in main template -->
<template name="costRow">
	<div class="mdl-grid mdl-grid--no-spacing border-bottom-12">
		<div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone padding-8 padding-left-24">
			<a href="/cost/{{_id}}" class="no-und">{{title}}</a> 
			<!-- <span><a href="/cost/{{_id}}" class="no-und">{{commentsCount}} comments</a></span> -->
		</div>
		<div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--hide-phone padding-8">
			{{#each tagsList}}
				<div class="tag-pill tag-pill-table"><a href="/tags/{{tagId}}">#{{this}}</a></div>
			{{/each}}
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone padding-8">
			<span>{{showTargetCost}}</span>
		</div>
		<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet mdl-cell--1-col-phone padding-8">
			<span>{{showActualCost}}</span>
		</div>
	</div>
</template>