<template name="costEdit">
	<div class="mdl-cell mdl-cell--12-col">
		<p>Project: <a href="/project/{{projectId}}"><strong>{{projectTitle}}</strong></a> > <a href="/project/{{projectId}}/cost"><strong>Cost Estimate</strong></a> > Cost Item: <a href="/cost/{{_id}}"><strong>{{title}}</strong></a></p>
		<h5>Add Cost Item</h5>
	</div>

	<div class="mdl-cell mdl-cell--12-col">
		<div class="mdl-color--white mdl-shadow--2dp padding-8">
			<form class="job-form">        
				<div class="mdl-grid">
					<div class="mdl-cell mdl-cell--6-col">
						<div class="mdl-textfield mdl-js-textfield">
							<input name="title" id="title" type="text" class="mdl-textfield__input" placeholder="Title (Required)" value="{{title}}" >
							<label class="mdl-textfield__label" for="title"></label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--6-col">
						<div class="mdl-textfield mdl-js-textfield">
							{{> inputAutocomplete settings=settings name="tags" class="input-xlarge mdl-textfield__input" autocomplete="off" placeholder="Add tags (eg: #civil or #structural)"}}
							<label class="mdl-textfield__label" for="tags"></label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--6-col">
						<div class="mdl-textfield mdl-js-textfield">
							<select name="phase" id="phase" type="text" class="mdl-textfield__input">
								<option value="None">Select a phase</option>
								<option selected>{{phase}}</option>
								<hr>
								<option>None</option>
								<option>Conceptualization</option>
								<option>Criteria Design</option>
								<option>Detailed Design</option>
								<option>Implementation Documents</option>
								<option>Agency Review</option>
								<option>Buyout</option>
								<option>Construction</option>
								<option>Closeout</option>
							</select>
							<label class="mdl-textfield__label" for="phase"></label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--6-col">
						<div class="mdl-textfield mdl-js-textfield">
							<input name="deadline" id="datepicker" class="mdl-textfield__input" placeholder="Deadline (YYYY/MM/DD)" autocomplete="off" value="{{deadline}}">
							<label class="mdl-textfield__label" for="datepicker">
							</label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--6-col">
						<div class="mdl-textfield mdl-js-textfield">
							<input name="targetcost" id="targetcost" type="number" step="0.01" class="mdl-textfield__input" placeholder="Target Cost (X.XX)" value="{{targetCost}}">
							<label class="mdl-textfield__label" for="targetcost"></label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--6-col">
						<div class="mdl-textfield mdl-js-textfield">
							<input name="actualcost" id="actualcost" type="number" step="0.01" class="mdl-textfield__input" placeholder="Actual Cost (X.XX)" value="{{actualCost}}">
							<label class="mdl-textfield__label" for="actualcost"></label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--6-col">
						<div class="mdl-textfield mdl-js-textfield">
							<input name="quantity" id="quantity" type="number" step="1" class="mdl-textfield__input" placeholder="Quantity" value="{{quantity}}">
							<label class="mdl-textfield__label" for="quantity"></label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--6-col">
						<div class="mdl-textfield mdl-js-textfield">
							<input name="unitcost" id="unitcost" type="number" step="0.01" class="mdl-textfield__input" placeholder="Unit Cost (X.XX)" value="{{unitCost}}">
							<label class="mdl-textfield__label" for="unitcost"></label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--12-col">
						<div class="mdl-textfield mdl-js-textfield">
							<textarea name="description" id="description" type="text" class="mdl-textfield__input description-textarea" rows="3" placeholder="Notes" value="{{description}}"></textarea>
							<label class="mdl-textfield__label" for="ruletext"></label>
						</div>
					</div>

					<div class="mdl-cell mdl-cell--12-col">  
						<input type="submit" value="update" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submit"> &nbsp;&nbsp;
						<span><a href="#" class="no-und delete">Delete this item</a></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>