<template name="costItem">

	<div class="mdl-cell mdl-cell--12-col">
		<p>
			Project: <a href="/project/{{projectId}}"><strong>{{projectTitle}}</strong></a> > <a href="/project/{{projectId}}/cost"><strong>Cost Estimate</strong></a>
		</p>
	</div>

	<div class="job-page page mdl-cell mdl-cell--12-col">
		<div class="mdl-color--white mdl-shadow--2dp">
			<div class="padding-8 padding-left-24 mdl-grid">
				<div class="mdl-cell mdl-cell--12-col">
					<p class="phase-style">
						{{phase}}
					</p>
					<h5 class="no-bottom-margin no-top-margin display-inline"><a href="#">{{title}}</a></h5> 
					&nbsp;
					<span class="no-bottom-margin">
						{{#each tagsList}}
							<div class="tag-pill-table tag-pill">
								<a href="/tags/{{tagId}}">#{{this}}</a>
							</div>
						{{/each}}
					</span>
				</div>

				<div class="mdl-cell mdl-cell--12-col">
					{{description}}
				</div>

				<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
					<h5 class="text-center">
						Target Cost <br>
						{{showTargetCost}}
					</h5>
				</div>

				<div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
					<h5 class="text-center">
						Actual Cost <br>
						{{showActualCost}}
					</h5>
				</div>

				<div class="mdl-cell mdl-cell--12-col">
					{{#if gotQuantity}}<span>Qty: {{quantity}}</span>{{/if}}
					&nbsp;&nbsp;
					{{#if gotUnitCost}}<span>(${{unitCost}}/unit)</span>{{/if}}
					{{#if gotDeadline}}<br>Payment required by {{deadline}}{{/if}}
				</div>

				<div class="mdl-cell mdl-cell--12-col">
					<p class="sub-head no-bottom-margin">
						{{#if jobId}}Job: <a href="/job/{{jobId}}" class="no-und">{{showJobTitle}}</a> <br>{{/if}}
						Submitted by <a class="no-und" href="/user/{{userId}}">{{author}}</a> on {{convertDate submitted}} &nbsp;&nbsp;
						<span><a href="/cost/{{_id}}/edit" class="no-und">Edit</a></span>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="job-page page mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
		<div class="comments mdl-grid">
			{{#each comments}}
				{{> commentItem}}
			{{/each}}
		</div>

		<!-- if user is logged in, they can comment -->
		{{#if currentUser}}
			{{> commentSubmit}}
		{{else}}
			<p>&nbsp;&nbsp;&nbsp;Please log in to leave a comment.</p>
		{{/if}}
	</div>
</template>