<template name="commentItem">
  

   	<div class="mdl-cell mdl-cell--12-col">
      <div class="mdl-grid no-padding">
        
          <!-- <h4 class="author"><a href="/user/{{currentUser._id}}">{{currentUser.profile.firstName}}</a> says</h4> -->
          <h4 class="author no-top-margin no-bottom-margin"><a href="/user/{{userId}}">{{findUsername userId}}:</a></h4>          
          <div class="mdl-layout-spacer"></div>
          <!-- submittedText helper -->
          <h4 class="date no-top-margin no-bottom-margin">Posted <span data-livestamp="{{submitted}}"></span></h4>
        
      </div>
        <pre class="pre-text padding-16">{{body}}</pre>
        <hr class="comments-hr">
    </div> 
    
   
</template>