<template name="commentSubmit">

	<form name="comment" class="mdl-cell mdl-cell--12-col mdl-grid comment-form form">
		<div class=" mdl-textfield mdl-js-textfield mdl-cell mdl-cell--12-col mdl-grid no-bottom-margin">
			<!-- error validation for comment field -->
			<div class="form-group {{errorClass 'body'}}">
				<div class="controls">
					<textarea name="body" id="body" class="form-control mdl-textfield__input comment-textarea" rows="3" placeholder=" Comment on this job"></textarea>
					<span class="help-block">{{errorMessage 'body'}}</span>
				</div>
			</div>
		</div>

		<div class=" mdl-cell mdl-cell--12-col mdl-grid no-top-margin">
			<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Add Comment</button>
		</div>
	</form>

</template>