<template name="tagJob">

  <div class="mdl-cell mdl-cell--12-col-desktop job-page page">
    <h4 class="padding-left-8 display-inline">#{{name}}</h4>
    <a href="/rule/submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored margin-top-24 right-align">ADD A RULE</a>
    <a href="/link/submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent margin-top-24 margin-right-16 right-align">ADD A LINK</a>
    <p class="padding-left-8">
      Created: {{convertDate submitted}}<br>
    </p> 

    <!--links to tag sections -->
		<div class="mdl-cell mdl-cell--12-col mdl-grid filter-buttons border-top-12 border-bottom-12 margin-bottom-16">
			<a href="/tags/{{_id}}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Links</a>
			<a href="/tags/{{_id}}/rules" class="mdl-button mdl-js-button mdl-js-ripple-effect">Rules</a>
			<a href="/tags/{{_id}}/jobs" class="mdl-button mdl-js-button mdl-js-ripple-effect is-active">Jobs</a>
			<!-- <a href="/tags/{{_id}}/products" class="mdl-button mdl-js-button mdl-js-ripple-effect">Products</a> -->
		</div>

		<div class="tagged-job">
      {{#each projects}}
        {{#if jobsWithTag}}
					<h6 class="padding-left-8">Project: <a href="/project/{{_id}}">{{title}}</a></h6>
					<div class="mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--2dp">
	          <div class="mdl-grid mdl-grid--no-spacing border-bottom-12">
	            {{#each jobsInProject}}
								<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone padding-8">
									{{#if isLocked}}
										<i class="material-icons md-18 table-icon bluegray500">lock</i>
									{{else}}
										{{#if isChecked}}
											<i class="material-icons md-18 table-icon greenA700">check</i>
										{{else}}
												<i class="material-icons md-18 table-icon blue500">lock_open</i>
										{{/if}}
									{{/if}}
									<a href="/job/{{_id}}">{{title}}</a>&nbsp;
								</div>
								<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone padding-8">		            
									{{#each tagsList}}
									<div class="tag-pill tag-pill-table"><a href="/tags/{{tagId}}">#{{this}}</a></div>
									{{/each}}
								</div>
	          	{{/each}}
	          </div>
					</div>
				{{/if}}
			{{/each}}
    </div>
  </div>
</template>