<template name="tagProduct">

  <div class="mdl-cell mdl-cell--12-col-desktop job-page page">
    <h4 class="padding-left-8 display-inline">#{{name}}</h4>
    <a href="/rule/submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored margin-top-24 right-align">ADD A RULE</a>
    <a href="/link/submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent margin-top-24 margin-right-16 right-align">ADD A LINK</a>
    <p class="padding-left-8">
      Created: {{convertDate submitted}}<br>
    </p> 

    <!--links to tag sections -->
		<div class="mdl-cell mdl-cell--12-col mdl-grid filter-buttons border-top-12 border-bottom-12 margin-bottom-16">
			<a href="/tags/{{_id}}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Links</a>
			<a href="/tags/{{_id}}/jobs" class="mdl-button mdl-js-button mdl-js-ripple-effect">Jobs</a>
			<a href="/tags/{{_id}}/rules" class="mdl-button mdl-js-button mdl-js-ripple-effect">Rules</a>
			<a href="/tags/{{_id}}/products" class="mdl-button mdl-js-button mdl-js-ripple-effect is-active">Products</a>
		</div>


  </div>
</template>