<template name="tagRule">

	<div class="mdl-cell mdl-cell--9-col-desktop job-page page">
		<h4 class="padding-left-8">#{{name}}</h4>
		<p class="padding-left-8">
			Created: {{convertDate submitted}}<br>
		</p>
	</div>
	<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--hide-phone job-page page">
		<a href="/rule/submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored margin-top-24 right-align">ADD A RULE</a>
		<a href="/link/submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent margin-top-24 margin-right-16 right-align">ADD A LINK</a>	
	</div>

	<!--links to tag sections -->
	<div class="mdl-cell mdl-cell--12-col mdl-grid filter-buttons border-top-12 border-bottom-12 margin-bottom-16">
		<a href="/tags/{{_id}}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Links</a>
		<a href="/tags/{{_id}}/rules" class="mdl-button mdl-js-button mdl-js-ripple-effect is-active">Rules</a>
		<!-- <a href="/tags/{{_id}}/jobs" class="mdl-button mdl-js-button mdl-js-ripple-effect">Jobs</a> -->
		<!-- <a href="/tags/{{_id}}/products" class="mdl-button mdl-js-button mdl-js-ripple-effect">Products</a> -->
	</div>

	<!-- tagged rules -->
	<!-- index -->
	<div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone filter-buttons tag-filter-buttons">
		<span class="padding-left-8" style="font-size: 75%;">INDEX</span><br>
		<input type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect is-active show-all-items" value="all"><br>
		{{#each taghead}}
			<input type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect tag-filter" value="{{this}}"><br>
		{{/each}}
	</div>

	
	<div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone border-bottom-12">
		{{#each rules}}
			<div class="padding-8 padding-left-24 mdl-grid rule-item" data-tags="{{#each tags}}{{this}} {{/each}}">
				<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone no-margin">
					<h6 class="no-bottom-margin no-top-margin display-inline"><a href="/rule/{{_id}}" class="no-und">{{title}}</a></h6> 
					&nbsp;
					<span class="no-bottom-margin">
						{{#each tagsList}}
							<div class="tag-pill-table tag-pill">
								<a href="/tags/{{tagId}}">#{{this}}</a>
							</div>
						{{/each}}
					</span>
					<p>
						{{ruletext}}
					</p>
				</div>
				<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone equation-position">
					{{#mathjax}}<p>$${{equation}}$$</p>{{/mathjax}}<br>
				</div>
			</div>
		{{/each}}
	</div>
	
</template>