<template name="tagLink">

	<div class="mdl-cell mdl-cell--9-col-desktop job-page page">
		<h4 class="padding-left-8">#{{name}}</h4>
		<p class="padding-left-8">
			Created: {{convertDate submitted}}<br>
		</p>
	</div>
	<div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--hide-phone job-page page">
		<a href="/rule/submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored margin-top-24 right-align">ADD A RULE</a>
		<a href="/link/submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent margin-top-24 margin-right-16 right-align">ADD A LINK</a>	
	</div>

	<!--links to tag sections -->
	<div class="mdl-cell mdl-cell--12-col mdl-grid filter-buttons border-top-12 border-bottom-12 margin-bottom-16">
		<a href="/tags/{{_id}}" class="mdl-button mdl-js-button mdl-js-ripple-effect is-active">Links</a>
		<a href="/tags/{{_id}}/rules" class="mdl-button mdl-js-button mdl-js-ripple-effect">Rules</a>
		<!-- <a href="/tags/{{_id}}/jobs" class="mdl-button mdl-js-button mdl-js-ripple-effect">Jobs</a> -->
		<!-- <a href="/tags/{{_id}}/products" class="mdl-button mdl-js-button mdl-js-ripple-effect">Products</a> -->
	</div>

	<!-- tagged links -->
	<div class="mdl-cell mdl-cell--1-col mdl-cell--hide-phone filter-buttons tag-filter-buttons">
		<span class="padding-left-8" style="font-size: 75%;">INDEX</span><br>
		<input type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect is-active show-all-items" value="all"><br>
		{{#each taghead}}
			<input type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect tag-filter" value="{{this}}"><br>
		{{/each}}
	</div>
	<div class="mdl-cell mdl-cell--11-col mdl-cell--4-col-phone">
		<div class="all-tags">
			<!-- see template below -->
			{{#each savedLinks}}
				{{> linkRow}}
			{{/each}}

			{{#each links}}
				{{> linkRow}}
			{{/each}}
		</div>
	</div>
		<!-- </div> -->
</template>

<!-- called in main template -->
<template name="linkRow">
	<div class="mdl-grid mdl-grid--no-spacing link-row" data-tags="{{#each tags}}{{this}} {{/each}}">
	  <div class="mdl-cell mdl-cell--1-col">
	  	<div class="margin-top-16 right-align">
			  {{#if linkSaved}}
			    <a href="#" class="unsave-link material-icons amber500" style="width: 24px;">star_rate</a>
			    <p class="no-bottom-margin padding-sides-8"><strong>{{savedCount}}</strong></p>
			  {{else}}
			    <a href="#" class="save-link material-icons bluegray500" style="width: 24px;">star_rate</a>
					<p class="no-bottom-margin padding-sides-8"><strong>{{savedCount}}</strong></p>
			  {{/if}}
		  </div>
	  </div>
	  <div class="mdl-cell mdl-cell--11-col mdl-cell--7-col-tablet mdl-cell--3-col-phone padding-8 padding-left-24 border-bottom-12">
	    <h6 class="no-top-margin no-bottom-margin">
	      <a href="{{url}}" class="no-und">{{title}}</a> 
	      <span>({{domain}})</span>
	    </h6>
	    <p class="no-bottom-margin">
		    {{#each tagsList}}
		      <div class="tag-pill tag-pill-table"><a href="/tags/{{tagId}}">#{{this}}</a></div>
		    {{/each}}
	    </p>
	    <p class="no-bottom-margin"><a href="/link/{{_id}}" class="no-und">{{commentsCount}} comments</a></p>
	  </div>
<!-- 	  <div class="mdl-cell mdl-cell-[]-2-col mdl-cell-[]-2-col-tablet mdl-cell-[]-hide-phone padding-8">
	    {{#if linkHasAuthor}}
	      Submitted by <a href="/user/{{userId}}">{{userName}}</a> <br>
	    {{/if}}
	    {{convertDate submitted}}
	  </div> -->    
	</div>
</template>