<template name="tagsList">
  <!-- change css class 'post-page' to name specific for cB -->
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col card-centered">
      <!-- list tags -->
      <h5>Tags</h5>
    
      <div class="mdl-color--white mdl-shadow--2dp">
        <div class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone border-top-12 border-bottom-12">
            <div class="padding-8 padding-left-24 ">
              Name
            </div>
          </div>
          
          <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone border-top-12 border-bottom-12">
            <div class="padding-8 ">
              Updated
            </div>
          </div>
        </div>
        
        <div class="mdl-grid mdl-grid--no-spacing">
          {{#each tags}}
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone border-bottom-12">
              <div class="padding-8 padding-left-24 ">
                <a href="/tags/{{_id}}">#{{name}}</a>
              </div>
            </div>

           	<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone border-bottom-12">
              <div class="padding-8 ">
                {{convertDate updated}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>        
  </div>
</template>