.grid-block, .main, .job, .comments li, .comment-form {
  background: #fff;
  /*border-radius: 3px;*/
  padding: 10px;
  margin-bottom: 10px;
  /*-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);*/ }
/*
body {
  background: #eee;
  color: #666666; }

#main {
  position: relative;
}
.page {
  position: absolute;
  top: 0px;
  width: 100%;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  /*.navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }*/

a:link {
  text-decoration: none;
}

.gray-text {
  color: #78909C;
}

.bold-text {
  font-weight: 600;
}

.full-width {
  width: 100%;
}

.phase-style {
  color: #90A4AE;
  font-weight: 600;
  margin-bottom: 6px;
}

.report-bugs-link {
	padding:16px 40px;
	font-size:13px;
	color:#757575;
	text-decoration:none;
}

.report-bugs-link:hover {
	text-decoration:underline;
}

#spinner {
  height: 300px; }

.job {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  *zoom: 1;
  position: relative;
  opacity: 1; }
  .job:before, .job:after {
    content: "";
    display: table; }
  .job:after {
    clear: both; }
  .job.invisible {
    opacity: 0; }
  .job.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
  .job.animate{
    -webkit-transition: all 300ms 0ms;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in; }
  .job .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left; }
  .job .job-content {
    float: left; }
    .job .job-content h3 {
      margin: 0;
      line-height: 1.4;
      font-size: 18px; }
      .job .job-content h3 a {
        display: inline-block;
        margin-right: 5px; }
      .job .job-content h3 span {
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        color: #aaaaaa; }
    .job .job-content p {
      margin: 0; }
      .job .job-content p .mail {
        float: right; }
  .job .discuss {
    display: block;
    float: right;
    margin-top: 7px; }

.comments {
  list-style-type: none;
  margin: 0; }
  .comments .author {
    font-weight: 600;
     }
    .comments h4 {
      font-size: 14px;
       }
    .comments li h4 a {
      font-size: 14px; }
  .comments li p:last-child {
    margin-bottom: 0; }

.comments-hr {
	border-color:#eeeeee; 
	/*margin-top:50px;*/
}

.comments .date {
	color:rgba(0,0,0, 0.54);
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.pre-text {
	font-size:14px;
	font-family:"Helvetica","Arial",sans-serif;	
	margin-top:0;
	margin-bottom:0;
}

/*.dropdown-menu span {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #bbb;
  white-space: nowrap; }
*/
.load-more {
  display: block;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px; }
  .load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1); }

.jobs .spinner-container{
  position: relative;
  height: 100px;
}

.jumbotron{
  text-align: center;
}
.jumbotron h2{
  font-size: 60px;
  font-weight: 100;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}


/*.navbar.navbar, .navbar-default.navbar {
	background-color:#2196F3;
}

.btn-primary:not(.btn-link):not(.btn-flat) {
	background-color:#2196F3;
}

.btn-primary:hover:not(.btn-link):not(.btn-flat), .btn-primary:active:not(.btn-link):not(.btn-flat) {
	background-color:#42A5F5;
}

a, a:hover, a:focus {
	color:#2196f3;
}

.form-control {
	background-image: linear-gradient(#2196F3, #2196F3), linear-gradient(#d2d2d2, #d2d2d2)		
}

.form-group .form-control:focus, .form-group-default .form-control:focus {
	background-image: linear-gradient(#2196F3, #2196F3), linear-gradient(#d2d2d2, #d2d2d2)	
}*/

.mdl-layout-title a {
	color:#fff;
	text-decoration:none;
}
.navbar-brand img {
	height:24px; 
	width:24px; 
	display: inline;
	margin-right:10px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(255, 255, 255, 0.70);
}

.mdl-layout__header .mdl-button {
	color: rgba(255,255,255,1.00);
}

.mdl-card__title a {
	margin-right:10px;	
}

.mdl-data-table td {
  padding-bottom: 10px;
}

table {
	margin-bottom:20px;
}


/*.jobs .mdl-cell--12-col {
	width:100%;
}*/

/*.controls {
	display:inline-block;
}*/

.form-group {
	width:100%;
	margin-bottom:10px;
}

.description-textarea, .comment-textarea {
	border: 1px solid rgba(0,0,0,.12);
}

.job-item-actions .mdl-button--mini-fab {
	margin-right:10px;
	background-color:transparent;	
	box-shadow:none;
}

.job-item-actions .mdl-button--mini-fab:hover {
	background-color: rgba(158, 158, 158, 0.2);
	/*box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);*/
	
}

.bugs-modal {
	padding:0 24px 8px 24px;
}

.margin-bottom-none {
	margin-bottom:0;
}

.no-margin {
  margin: 0;
}

.auto-margin {
  margin: auto;
}

.no-margin-sides {
	margin-left:0;
	margin-right:0;
}

.margin-right-16 {
	margin-right:16px;
}

.margin-bottom-16 {
	margin-bottom:16px;
}

.margin-top-16 {
	margin-top:16px;
}

.margin-top-18 {
	margin-top:18px;
}

.margin-top-24 {
	margin-top:24px;
}

.padding-8 {
	padding:8px;	
}

.padding-topbottom-8 {
	padding-top:8px;	
	padding-bottom:8px;
}

.padding-16 {
	padding: 16px;	
}

.padding-32 {
  padding: 32px;
}

.padding-right-16 {
	padding-right:16px;
}

.padding-left-24 {
	padding-left:24px;
}

.padding-left-20 {
  padding-left: 20px;
}

.padding-left-16 {
	padding-left:16px;
}

.padding-left-8 {
	padding-left:8px;
}

.padding-sides-16 {
	padding-left:16px;
	padding-right:16px;
}

.padding-sides-8 {
  padding-left:8px;
  padding-right:8px;
}

.border-12 {
	border:1px rgba(0,0,0,.12) solid;	
}

.border-notop-12 {
	border-left:1px rgba(0,0,0,.12) solid;	
	border-right:1px rgba(0,0,0,.12) solid;	
	border-bottom:1px rgba(0,0,0,.12) solid;	
}

.border-top-12 {
	border-top:1px rgba(0,0,0,.12) solid;	
}

.border-right-12 {
	border-right:1px rgba(0,0,0,.12) solid;	
}

.border-left-12 {
	border-left:1px rgba(0,0,0,.12) solid;	
}

.border-bottom-12 {
	border-bottom:1px rgba(0,0,0,.12) solid;	
}

.no-padding {
	padding: 0px;
}

.padding-20 {
  padding: 20px;
}

.padding-top-16 {
  padding-top: 16px;
}

.padding-top-32 {
  padding-top: 32px;
}

.no-top-margin {
	margin-top:0px;
}

.no-bottom-margin {
	margin-bottom:0px;	
}

.ten-top-padding {
	padding-top:10px;
}

.margin-20 {
  margin: 20px;
}

/*classes added by NN*/
/*suppress formatting (underline and color) for links*/
.no-und {
  text-decoration: none;
}

.notification-text-style {
  color: #2196F3;
}

.clearall i{
  vertical-align: middle;
}

.header-icon {
  margin-left: 5px;
  margin-right: 10px;
}

.team-admin-text {
	padding-top:16px;
	padding-bottom:16px;
}

.team-other-users {
	padding-top:8px;
}

.groups-header {
	padding-top:16px;
	padding-bottom:16px;
	color:rgba(0,0,0,.54);
	font-weight:bold;
}

.white-icon a {
  color: white;
}

.white-icon .mdl-badge[data-badge]:after {
  top: -10px;
  right: -10px;
}

.header-title {
  color: white;
}

.open-done-toggle {
  /*margin-right: 30px;*/
  /*margin-top: 23px*/
}
.open-done-toggle .mdl-switch__label {
  color: #2196F3;
  font-weight: bold;
  margin-left: -5px;
}

.button-text-wht {
  color: white;
}

.self {
  background-color: #F44336;
  color: white;
}

/*for user autocomplete*/
.user-online {
  background-color: #8BC34A;
  color: white;
}

.user-offline {
  background-color: #9E9E9E;
  color: white;
}

/*for multiple select boxes*/
.small-note-font {
  font-size: 85%;
  color: #9E9E9E;
  text-align: center;
}

.tag-pill {
  border-radius: 5px;
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  background-color: #2196F3;
  color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  clear: both;
}

.tag-pill a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 90%;
}

.tag-pill-table {
  margin: 2px;
}

.display-inline {
  display: inline-block;
}

.basic-border {
  border: 1px solid black;
}

/*end NN*/

.job-form p {
	font-size:13px;
	margin-top:0px;
	margin-bottom:-20px;
}

.job-form .mdl-textfield, .login-page .mdl-textfield, .user-settings .mdl-textfield {
	width:100%;
	
}

.job-form .mdl-textfield.job-select-list {
  width: 45%;
  display: inline-block;
}

.mdl-selectfield__input.lightblue50 {
  background-color: #E1F5FE;
}

.help-block {
	color:#de3226;
	font-size:12px;	
	position:relative;
	top:-17px;
}

.bugs-help-block {
	color:#de3226;
	font-size:12px;	
}

/*project-list css*/
#projectType {
  border: none;
  background-color: #f5f5f5;
  font-size: 20px;
  margin-top: 18px;
  margin-bottom: 18px;
  min-width: 175px;
}

#projectType option {
  font-size: 14px;
  min-height: 30px;
}

.project-lists-table .help-block {
	position:relative;
	top:-5px;	
}

.project-list i {
	font-size:20px;
	line-height:20px;	
}

.project-list .delete-icon {
	padding-top:10px;
	padding-bottom:8px;
}

.mdl-badge:not([data-badge]) {
	margin-right:24px;
}

.jobs .job-item-body, .project-page .job-item-body {
	display:none;
}

.job-item-body .mdl-card__supporting-text {
	/*border-top:1px solid rgba(0,0,0,.1);*/	
	padding-top:16px;
}

.cost-table {
	margin-top:20px;	
}

.project-info-icon {
	margin:18px 5px;
}

.jobs .demo-card-wide {
	
}

.jobs {
  margin: auto;
}

.job-title {
  display: inline;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-link-text {
  color: white;
}

.cb-table {
  margin: auto;
  clear: both;
  /*display: block;*/
}

.cb-form {
  margin: auto;
  clear: both;
  display: block;
  padding: 20px;
}

.table-textfield {
  padding-top: 5px;
  padding-bottom: 5px;
  /*width: 150px;*/
}

.table-input {
  border-bottom: none;
}

.table-label {
  bottom: -15px;
  top: 5px;
}

.table-button {
  margin: 0px auto 0px;
}

.table-icon {
  /*font-size: 18px;*/
  vertical-align: bottom;
}

.invited-row {
  background-color: #FCE4EC;
}

.phase-row {
  background-color: #E8EAF6;
}

.cost-head-row {
  background-color: #fff;
}

.card-centered {
  margin: 5px auto 5px;
  /*width:100%;*/
}

.demo-card-wide.mdl-card {
  /*width: 512px;*/
  /*margin: -5px;*/
}

.mdl-card {
  min-height: 50px;
}

.mdl-card__title {
  padding: 8px 8px 8px 20px;
}

.mdl-card__supporting-text {
  padding: 20px;
}

.mdl-textfield .mdl-button {
  bottom: 0px;
}

.done-background {
  background-color: #E0F2F1;
}

.locked-background {
  background-color: #E0E0E0;
}

.right-align {
  float: right;
}

.select-list-height {
  max-height: 175px;
}

.project-page-buttons {
  margin-top: 18px;
}

.sub-head {
  font-size: 85%;
}

.dummy-div {
	height:1px;	
	background-color:blue;
}

.accounts-dialog {
	border-radius:2px;
}

#login-buttons .login-button, .accounts-dialog .login-button {
	background: #FF4081;
	border-radius: 2px;
	font-size:14px;
	border-color:transparent;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover, #login-buttons .login-button:active, .accounts-dialog .login-button:active, #login-buttons .login-button:focus, .accounts-dialog .login-button:focus {
	background:rgba(255, 64, 129, 0.9);	
}

.login-links p {
	padding-top:6px;
	padding-bottom:6px;
	font-size:16px;
}

.accounts-dialog > .login-close-text {
	font-size:14px;	
}

.recover-success, .password-success, .username-success, .email-success {
	display:none;
}

.recover-success, .password-success, .username-success, .email-success  {
	color: rgb(46, 123, 50);	
	margin-top:20px;
	margin-bottom:20px;
}
.recover-success p, .password-success p, .username-success p, .email-success p {
	font-size:16px;	
}

.recover-success .material-icons, .password-success .material-icons, .username-success .material-icons, .email-success .material-icons {
	font-size:20px;
	vertical-align:middle;
}

.filter-buttons {
/*	margin-top:0;
	margin-bottom:0;*/
	padding-top:0;
	padding-bottom:0;
}

.filter-buttons .is-active {
	color:rgb(33,150,243);
}

.filter-buttons h6 {
	margin: 5px 5px 0 0;	
}

.register {
	display:none; 	
}

.material-icons.greenA700 { color: #00C853; }
.material-icons.blue500 { color: #2196F3; }
.material-icons.bluegray500 { color: #78909C; }
.material-icons.pinkA200 { color: #FF4081; }
.material-icons.amber500 { color: #FFC107; }

.text-center {
	text-align:center;
}

.text-right {
	text-align:right;
}

.invite-menu {
	padding:0;
}

.invite-menu a {
	text-decoration:none;
}

.flow-page-title {
  padding-top: 6px;
  margin: 0px;
  display: inline-block;
}

.mdl-textfield-75p {
  width: 75%;
}

/*for flows-list*/
h5 i {
  vertical-align: middle;
}

.equation-position {
  margin: auto;
  text-align: center;
}

.italic-note {
  font-style: italic;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.upload-progress {
	background: red; 
	height: 30px;
}

.card-support-text-style {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0,0,0,0.54); 
}