<template name="notifications">
  <!-- notification icon -->
  <span id="demo-menu-lower-right" class="header-title white-icon">
    <a href="#" class="material-icons no-und mdl-badge mdl-badge--overlap" data-badge="{{#if notificationCheck}} {{notificationCount}} {{/if}}">notifications</a>
  </span>

  <!-- class below need s to be converted before implementing into ul -->
  <!-- "notification dropdown-menu" -->
  <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
    {{#if notificationCount}}
      {{#each notifications}}
        {{> notificationItem}}
      {{/each}}
      
      {{> clearAllNotifications}}
    {{else}}
      <li class="mdl-menu__item notification-text-style"><span>No Notifications</span></li>
    {{/if}}
  </ul>
</template>

<template name="notificationItem">
  <a href="{{notificationJobPath}}" class="notification-text-style no-und">
  	<li class="mdl-menu__item">
      <strong>{{commenterName}}</strong> commented on your job
  	</li>
  </a>
</template>

<template name="clearAllNotifications">
  <a href="#" class="clearall no-und">
    <li class="mdl-menu__item notification-text-style"><i class="material-icons">clear_all</i> CLEAR ALL</li>
  </a>
</template>