<!-- template for user's home page -->
<template name="flowsList">
  <div class="mdl-cell mdl-cell--12-col">

    <div>
      <p>Load FLOW for <a href="/project/{{_id}}"><strong>{{title}}</strong></a></p>
    </div>

    <h5>Project FLOWs</h5>

    <!-- start table -->
    <div class="mdl-color--white mdl-shadow--2dp">
      <!-- header row -->
      <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone border-top-12 border-bottom-12">
          <div class="padding-8 padding-left-24">
            FLOW
          </div>
        </div>
        
        <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone border-top-12 border-bottom-12">
          <div class="padding-8">
            Project
          </div>
        </div>

        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone border-top-12 border-bottom-12">
          <div class="padding-8">
            <!-- Action -->
          </div>
        </div>                    
      </div>  <!-- end header row -->
    
      {{#each flowsProject}}
        {{> flowRow}}
      {{/each}}
    </div>  <!-- end table -->

    <h5><i class="material-icons">person</i> Your FLOWs</h5>
    <!-- start table -->
    <div class="mdl-color--white mdl-shadow--2dp">
      {{#each flowsUser}}
        {{> flowRow}}
      {{/each}}
    </div>  <!-- end table -->

    <h5><i class="material-icons">public</i> Public FLOWs</h5>
    <!-- start table -->
    <div class="mdl-color--white mdl-shadow--2dp">
      {{#each flowsPublic}}
        {{> flowRow}}
      {{/each}}
    </div>  <!-- end table -->
  </div>
</template>

<template name="flowRow">
  <!-- table row -->
  <div class="mdl-grid mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone border-top-12 border-bottom-12">
      <div class="padding-8 padding-left-24">
        <a href="/flow/{{_id}}"><strong>{{name}}</strong></a> <br>
        {{jobsCount}} jobs
      </div>
    </div>
    
    
    <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--2-col-phone border-top-12 border-bottom-12">
      <div class="padding-8">
        {{#unless public}}
          <a href="/project/{{project}}">{{projectName}}</a>
        {{/unless}}
      </div>
    </div>
    

    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-phone border-top-12 border-bottom-12">
      <div class="padding-8 right-align">
        {{#if flowOwner}}
          <a href="/flow/{{_id}}" class="mdl-button mdl-js-button mdl-button--icon rename-flow table-button"><i class="material-icons">edit</i></a>

          {{#unless published}}
            <span class="mdl-button mdl-js-button mdl-button--icon publish table-button"><i class="material-icons">public</i></span>
          {{/unless}}

        {{/if}}

        {{#if teamMember}}
          <span class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored load-flow table-button"><i class="material-icons">get_app</i></span>
        {{/if}}
      </div>
    </div>                    
  </div>  <!-- end table row -->
</template>