<!-- template for user's home page -->
<template name="flowPage">
  <div class="mdl-cell mdl-cell--12-col">
    <div>
      <a href="/project/{{project}}/flows" class="no-und"><strong>&larr; Back to FLOW List</strong></a>
    </div>

    <div class="mdl-cell mdl-cell--12-col mdl-grid no-padding">

      <h5 class="flow-page-title">FLOW: {{name}}</h5>
      
      &nbsp;&nbsp;&nbsp;
      {{#if flowOwner}}
        <div class="display-inline">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield-75p no-padding">
            <input name="rename" id="rename" type="text" class="mdl-textfield__input" placeholder="Rename...">
            <label class="mdl-textfield__label" for="rename"></label>
          </div>

          <span class="mdl-button mdl-js-button mdl-button--icon rename-flow"><i class="material-icons">edit</i></span>
        </div>

        <span class="mdl-layout-spacer"></span>

        <div class="right-align">
          <span class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect delete">
            <i class="material-icons md-light">delete</i> Delete flow
          </span>
        </div>
      {{/if}}
    </div>

    <div class="mdl-cell mdl-cell--12-col"> 
      <!-- ID: {{_id}} <br> -->
      Author: {{author}} <br>
      Submitted: {{convertDate submitted}} <br>
      Last updated: {{convertDate updated}} <br>
    </div> <br>
  

    <div class="mdl-cell mdl-cell--12-col">  
      <!-- start table -->
      <div class="mdl-color--white mdl-shadow--2dp">
        <!-- header row -->
        <div class="mdl-grid mdl-grid--no-spacing">
          <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone border-top-12 border-bottom-12">
            <div class="padding-8 padding-left-24">
              Job Title
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone border-top-12 border-bottom-12">
            <div class="padding-8">
              Predecessor
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone border-top-12 border-bottom-12">
            <div class="padding-8">
              Tags
            </div>
          </div>

          <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--hide-phone border-top-12 border-bottom-12">
            <div class="padding-8">
              Description
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone border-top-12 border-bottom-12">
            <div class="padding-8 right-align">
              <!-- Action -->
            </div>
          </div>          
        </div>  <!-- end header row -->

        {{#each jobs}}
          <!-- table row -->
          <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--2-col-phone border-top-12 border-bottom-12">
              <div class="padding-8 padding-left-24">
                {{title}}
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone border-top-12 border-bottom-12">
              <div class="padding-8">
                {{#each predecessor}}{{this}}<br>{{/each}}
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone border-top-12 border-bottom-12">
              <div class="padding-8">
                {{#each tags}}
                  <div class="tag-pill">
                    <a href="/tags/{{tagId}}">#{{this}}</a>
                  </div><br>
                {{/each}}
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--hide-phone border-top-12 border-bottom-12">
              <div class="padding-8">
                {{description}}
              </div>
            </div>

            
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone border-top-12 border-bottom-12">
              {{#if flowOwnerInChild}}
                <div class="padding-8 right-align">
                  <span class="mdl-button mdl-js-button mdl-button--icon deletejob"><i class="material-icons">cancel</i></span>
                </div>
              {{/if}}
            </div>
            

          </div>  <!-- end table row -->
        {{/each}}


        {{#if flowOwner}}
          <!-- new job form -->
          <div class="mdl-grid mdl-grid--no-spacing">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone border-top-12 border-bottom-12">
              <div class="padding-8 padding-left-24">
                <div class="mdl-textfield mdl-js-textfield table-textfield">
                  <input name="title" id="title" type="text" class="mdl-textfield__input table-input" placeholder="New Job Title">
                  <label class="mdl-textfield__label table-label" for="title"></label>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone border-top-12 border-bottom-12">
              <div class="padding-8">
                <select name="predecessor" id="predecessor" type="text" class="mdl-textfield__input mdl-selectfield__input lightblue50" multiple>
                  {{#each jobs}}
                    <option>{{title}}</option>
                  {{/each}}
                </select>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone border-top-12 border-bottom-12">
              <div class="padding-8">
                <div class="mdl-textfield mdl-js-textfield table-textfield">
                  {{> inputAutocomplete settings=settings name="tags" id="tags" class="input-xlarge mdl-textfield__input table-input" placeholder="#tags" autocomplete="off"}}
                  <label class="mdl-textfield__label table-label" for="tags"></label>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-tablet mdl-cell--hide-phone border-top-12 border-bottom-12">
              <div class="padding-8">
                <div class="mdl-textfield mdl-js-textfield table-textfield">
                  <textarea name="description" id="description" type="text" class="mdl-textfield__input description-textarea" placeholder="Description"></textarea>
                  <label class="mdl-textfield__label table-label" for="description"></label>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone border-top-12 border-bottom-12">
              <div class="padding-8 right-align">
                <input type="submit" value="ADD" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submit">
              </div>
            </div>          
          </div>  <!-- end form -->
        {{/if}}
      </div>  <!-- end table -->
    </div>

    {{#if hasPublishers}}
      <div class="mdl-cell mdl-cell--12-col"> 
        Contributors: {{#each publishers}}{{memberName}}{{/each}}
      </div>
    {{/if}}
  </div>
</template>