<!-- For when a user tries to access a page that they do not have permissions for -->
<template name="accessDenied">
	<div>
	 	<div>
	 		<h2>:(</h2>
	 		<p>Please log in to access this page.</p>
		</div>

		<!-- <br> -->

<!-- 		<div>
			{{> loginButtons}}
		</div> -->
	</div>
</template>