<template name="header">
  <!--  -->
  <header class="mdl-layout__header mdl-color--blue-500 mdl-color-text--grey-100">
    
    <div class="mdl-layout__header-row">
     
      <span class="mdl-layout-title">
        <!-- logo -->
        <!-- app name -->
        <!-- {{#if currentUser}} -->
        <a class="navbar-brand no-und header-title" href="{{pathFor 'projectsList'}}"><img src="/img/collabbuildwhite.png" height="24" width="24" style='display: inline'></a>
        <!-- {{else}} -->
        <!-- <a class="navbar-brand no-und header-title" href="{{pathFor 'loginPage'}}"><img src="/img/collabbuildwhite.png" height="24" width="24" style='display: inline'></a> -->
        <!-- {{/if}} -->
      </span>

      <span class="login-buttons">&nbsp;&nbsp;&nbsp;&nbsp;{{#if currentUser}}Hello <a href="/user/{{currentUser._id}}" class="header-title">{{currentUser.profile.firstName}}</a>{{/if}}</span>

      <!-- spacer to align rest on the right-->
      <div class="mdl-layout-spacer"></div>

      <!-- Search bar -->
      <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield(DOUBLEDASH)expandable header-icon">
        <label class="mdl-button mdl-js-button mdl-button(DOUBLEDASH)icon" for="search">
          <i class="material-icons md-light">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search">
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div> -->

      <!-- notifications dropdown -->
      {{#if currentUser}}
	      {{> notifications}}
    	{{/if}}

      <!-- new job button -->
      <!-- <span class="header-icon mdl-cell-()-hide-phone"> -->
        <!-- {{#if currentUser}} -->
        	<!-- new job button -->
          <!-- <a href="{{pathFor 'newJob'}}"> -->
            <!-- <button class="mdl-button mdl-js-button mdl-button-()-raised mdl-js-ripple-effect mdl-button-()-accent"> -->
              <!-- <i class="material-icons md-light">add</i> NEW JOB -->
            <!-- </button> -->
          <!-- </a> -->
        <!-- {{/if}} -->
      <!-- </span> -->

      <!-- delete between parentheses -->
      <!-- <span class="header-icon mdl-cell-()-hide-tablet mdl-cell-90-hide-phone"> -->
        <!-- {{#if currentUser}} -->
          <!-- 'sign out' button -->
<!--           <a href="{{pathFor 'loginPage'}}">
            <button class="mdl-button mdl-js-button mdl-button-()-raised mdl-js-ripple-effect">
              SIGN OUT
            </button>
          </a>
        {{/if}}
      </span> -->

      <!-- More button -->
      <!-- hide for now 12/9/2015 -->
      <!--
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button<replace this with two dashes>icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu<replace this with two dashes>bottom-right" for="hdrbtn">
        <li class="mdl-menu__item">About</li>
        <li class="mdl-menu__item">Contact</li>
        <li class="mdl-menu__item">Legal information</li>
      </ul>
      -->
    </div>
  </header>

</template>