<template name="sideNav">
	<nav class="demo-navigation mdl-navigation mdl-color--white">
		{{#if currentUser}}
			<a class="mdl-navigation__link" href="{{pathFor 'projectsList'}}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
			<a class="mdl-navigation__link" href="{{pathFor 'tagsList'}}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">label_outline</i>Tags</a>
			<a class="mdl-navigation__link" href="{{pathFor 'linksList'}}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">public</i>Resources</a>
			<!-- <a class="mdl-navigation__link" href="{{pathFor 'ruleSubmit'}}"><i class="mdl-color-text-(delete)-blue-grey-400 material-icons" role="presentation">description</i>Equations BETA</a> -->
			<a class="mdl-navigation__link" href="{{pathFor 'userSettings'}}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">settings</i>Account Settings</a>
			<a class="mdl-navigation__link logout" href="#"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">power_settings_new</i>Logout</a>
			<a class="mdl-navigation__link" href="{{pathFor 'helpPage'}}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i>Help/FAQs</a>
			<!--<a class="report-bugs-link modal__trigger" href="" data-modal="#modal">Report Bugs</a>-->
		{{else}}
			<!-- if logged out -->
			<a class="mdl-navigation__link" href="{{pathFor 'loginPage'}}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">account_circle</i>Login/Register</a>      
		{{/if}}
	</nav>

</template>