<template name="activityItem">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

   	<div class="mdl-card__supporting-text">
        <h4>
          <span class="author">{{author}}</span>
          <!-- submittedText helper -->
          <span class="date">at {{convertDate submitted}}</span>
        </h4>
        <p>{{activityBody}}</p>
    </div> 
    
   </div>
</template>