<template name="userInfo">
	
  <!-- card -->
  <div class="demo-card-wide mdl-color--white mdl-shadow--2dp">
   
  	<!-- title -->
   	<div class="mdl-card__title mdl-card--border">  	
      <span><h4>{{profile.firstName}} {{profile.lastName}}</h4></span>
    </div> <!-- end title -->
   
    <!-- supporting text -->
    <div class="mdl-card__supporting-text">
      <!-- due date and description attributes -->
      <p>
        <!-- ID: {{_id}}<br> -->
        Account created at {{convertDate createdAt}}<br>
        <!-- {{#if madeJobs}}{{jobCount}} jobs created<br>{{/if}} -->
        {{#if madeComments}}{{commentCount}} comments submitted<br>{{/if}}
        {{#if madeLinks}}{{linkCount}} links submitted<br>{{/if}}
      </p>
    </div><!-- end body -->
    
  </div>  <!-- end card -->
</template>

