<template name="userSettings">
	
  <!-- card -->
  <div class="demo-card-wide mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col card-centered user-settings">
    <!-- supporting text -->
    <div class="mdl-card__supporting-text">
     <h5>Update Basic Information</h5>
     <img src="{{currentUser.profile.profileURL }}" style="max-height:15vw; max-width:15vw;">
     <form method="POST" enctype="multipart/form-data" >
        <input type="file" id="file" accept='.jpg, .png, .jpeg, .gif' class="jqUploadclass inputfile" data-form-data='{{ submitData }}'>
        <label for="file">Update Profile Picture</label>
        {{#with infoLabel}}
             {{infoLabel}}<button class="start mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">Upload Picture</button>
            <div style="width: 200px; height: 30px; border: 1px solid black">
                <div class="upload-progress" style="width: {{ progress }}">
                    {{ progress }}
                </div>
            </div>
        {{/with}}

    </form>
     <!--{{> upload_semanticUI contentType='images' fileTypes='.jpg, .png, .jpeg, .gif' multiple=false callbacks=profileCallbacks }}-->
     
     <form class="form usersettings-form">  
          <!-- title input -->
          
          <div class="{{errorClass 'firstName'}}">
            <div class="mdl-textfield mdl-js-textfield">
              <input name="firstName" id="firstName" type="text" value="{{currentUser.profile.firstName}}" class="mdl-textfield__input" />
              <label class="mdl-textfield__label" for="firstName">First Name</label>
            </div> 
            <span class="help-block">{{errorMessage 'firstName'}}</span>
          </div>
          <div class="{{errorClass 'lastName'}}">  
            <div class="mdl-textfield mdl-js-textfield">
              <input name="lastName" id="lastName" type="text" value="{{currentUser.profile.lastName}}" class="mdl-textfield__input" />
              <label class="mdl-textfield__label" for="lastName">Last Name</label>
            </div> 
            <span class="help-block">{{errorMessage 'lastName'}}</span>
          </div>
		  <div class="username-success">
    		<p><i class="material-icons">done</i>&nbsp;User's name(s) updated successfully</p>
    	  </div>
          
          
          <div class="{{errorClass 'email'}}">
            <div class="mdl-textfield mdl-js-textfield">
              <input name="email" id="email" type="email" value="{{loadLastEmail}}" class="mdl-textfield__input" />
            </div>
            <span class="help-block">{{errorMessage 'email'}}</span>
          </div>
		  <div class="email-success">
    		<p><i class="material-icons">done</i>&nbsp;Email updated successfully</p>
    	  </div>
        <!-- submit button -->
          <input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submit"/>  
        
       
      </form>
    </div><!-- end body -->
    
  </div>  <!-- end card -->
  
  <div class="demo-card-wide mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col card-centered user-settings">
  	
   
    <!-- supporting text -->
    <div class="mdl-card__supporting-text">
     <form class="form reset-password-form">  
          <!-- title input -->
          <h5>Change Password</h5>
          <div class="{{errorClass 'oldPassword'}}">
            <div class="mdl-textfield mdl-js-textfield">
              <input type="password" name="oldPassword" class="mdl-textfield__input">
              <label class="mdl-textfield__label" for="oldPassword">Old Password</label>
            </div> 
            <span class="help-block">{{errorMessage 'oldPassword'}}</span>
          </div>
          <div class="{{errorClass 'newPassword'}}">  
            <div class="mdl-textfield mdl-js-textfield">
              <input type="password" name="newPassword" class="mdl-textfield__input">
              <label class="mdl-textfield__label" for="newPassword">New Password</label>
            </div> 
            <span class="help-block">{{errorMessage 'newPassword'}}</span>
         </div>

         <div class="{{errorClass 'verifyPassword'}}">
            <div class="mdl-textfield mdl-js-textfield">
              <input type="password" name="verifyPassword" class="mdl-textfield__input">
              <label class="mdl-textfield__label" for="verifyPassword">Verify New Password</label>
            </div>
            <span class="help-block">{{errorMessage 'verifyPassword'}}</span>
         </div>
		 <div class="password-success">
    		<p><i class="material-icons">done</i>&nbsp;Password updated successfully</p>
    	 </div>
        <!-- submit button -->
          <input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submit"/>  
        
       
      </form>
    </div><!-- end body -->
    
  </div>  <!-- end card -->
</template>

