<template name="userPage">
<!-- change css class 'post-page' to name specific for cB -->
  <div class="mdl-cell mdl-cell--12-col">

    <h5>Profile Information</h5>
  	<!-- show the user-info template (.html) -->
    {{> userInfo}}
  </div>

</template>