<template name="loginPage">
	<div class="login-page form job-form demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--4-col-phone cb-form">
	  
       
      {{#if currentUser}}  
          <div>
            <!-- 'go to jobs list' button -->
            <span class="right-align">
              <a href="#" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored logout">
                  LOGOUT
              </a>
              <a href="{{pathFor 'projectsList'}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                  PROJECTS LIST
              </a>
              <a href="{{pathFor 'linksList'}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                  RESOURCES
              </a>
            </span>   

            <h6>Welcome {{currentUser.profile.firstName}}!</h6>
          </div>

       {{else}} 
            {{> register}}
            {{> login}}
       {{/if}} 
<!-- 			  <div>
				  <a href="{{pathFor 'projectsList'}}">
				    <button class="mdl-button mdl-js-button mdl-button-()-raised mdl-js-ripple-effect mdl-button-()-accent">
				      GO TO PROJECTS LIST
				    </button>
				  </a>
			  </div>

			  <div>
				  <a href="{{pathFor 'newProject'}}">
				    <button class="mdl-button mdl-js-button mdl-button-()-raised mdl-js-ripple-effect mdl-button-()-accent">
				      NEW PROJECT
				    </button>
				  </a>
			  </div> -->

  </div>
</template>