<template name="login">
  <div class="login">
  	<h3>Login</h3>
    <form>
    	<div class="{{errorClass 'email'}}">
        <div class="mdl-textfield mdl-js-textfield">
          <input type="email" name="loginEmail" class="mdl-textfield__input">
          <label class="mdl-textfield__label" for="sample1">Email</label>
        </div>
        <span class="help-block">{{errorMessage 'email'}}</span>
      </div>
      
      <div class="{{errorClass 'password'}}">
        <div class="mdl-textfield mdl-js-textfield">
          <input type="password" name="loginPassword" class="mdl-textfield__input">
          <label class="mdl-textfield__label" for="sample1">Password</label>
        </div>
        <span class="help-block">{{errorMessage 'password'}}</span>
      </div>
      <div class="mdl-grid mdl-grid--no-spacing login-links"> 
	    <input type="submit" value="Login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <p> &nbsp;or <a href="#" class="show-register">Create an Account</a></p>
        <div class="mdl-layout-spacer"></div>
        <p><a href="/recoverpassword" style="text-align:right">Forgot Password?</a></p>
      </div>
    </form>
  </div>
</template>