<template name="recoverPassword">  
  <div class=" form job-form demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-cell--4-col-phone cb-form">
  	<h3>Reset Password</h3>
  <!--<template name="_forgotPasswordForm">-->
  	<form>
    	<div class="{{errorClass 'email'}}">
        <div class="mdl-textfield mdl-js-textfield">
          <input type="email" name="loginEmail" class="mdl-textfield__input">
          <label class="mdl-textfield__label" for="sample1">Email</label>
        </div>
        <span class="help-block">{{errorMessage 'email'}}</span>
      </div>
      
      
      <div class="mdl-grid mdl-grid--no-spacing login-links"> 
	    <input type="submit" value="Reset Password" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <p> &nbsp;or <a href="/" class="show-register">Login</a></p>
        <div class="mdl-layout-spacer"></div>
        
      </div>
  	</form>
    <div class="recover-success">
    	<p><i class="material-icons">done</i>&nbsp;Check your email for a reset link</p>
    </div>
  </div>
</template>  