<template name="register">
  <div class="register">
  	<h3>Sign Up</h3>
    <form>
       <div class="{{errorClass 'firstName'}}">
            <div class="mdl-textfield mdl-js-textfield">
               <input type="text" name="registerFirst" class="mdl-textfield__input" required>
             <label class="mdl-textfield__label" for="sample1">First Name</label>
          	</div>
            <span class="help-block">{{errorMessage 'firstName'}}</span>
      </div>
      <div class="{{errorClass 'lastName'}}">
          <div class="mdl-textfield mdl-js-textfield">
            <input type="text" name="registerLast" class="mdl-textfield__input" required>
            <label class="mdl-textfield__label" for="sample1">Last Name</label>
          </div>
          <span class="help-block">{{errorMessage 'lastName'}}</span>
      </div>
      <div class="{{errorClass 'email'}}">
        <div class="mdl-textfield mdl-js-textfield">
          <input type="email" name="registerEmail" class="mdl-textfield__input">
          <label class="mdl-textfield__label" for="sample1">Email</label>
        </div>
      	<span class="help-block">{{errorMessage 'email'}}</span>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
	      <input type="password" name="registerPassword" class="mdl-textfield__input">
        <label class="mdl-textfield__label" for="sample1">Password</label>
      </div>
      <div class="{{errorClass 'password'}}">
        <div class="mdl-textfield mdl-js-textfield">
          <input type="password" name="verifyPassword" class="mdl-textfield__input">
          <label class="mdl-textfield__label" for="sample1">Verify Password</label>
        </div>
        <span class="help-block">{{errorMessage 'password'}}</span>
      </div>
      <input type="submit" value="Create Account" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> &nbsp;or <a href="#" class="show-login">Sign In</a>
    </form>
    
  </div>
</template>