<template name="rulePage">

  <div class="job-page page mdl-cell mdl-cell--12-col">
    <div class="mdl-color--white mdl-shadow--2dp">
      <div class="padding-8 padding-left-24 mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone">
          <h6 class="no-bottom-margin display-inline"><a href="#">{{title}}</a></h6> 
          &nbsp;
          <span class="no-bottom-margin">
            {{#each tagsList}}
              <div class="tag-pill-table tag-pill">
                <a href="/tags/{{tagId}}">#{{this}}</a>
              </div>
            {{/each}}
          </span>
          <p>
            {{ruletext}}
          </p>
          <p class="sub-head no-bottom-margin">
            Submitted by <a href="/user/{{userId}}">{{author}}</a> on {{convertDate submitted}}
            {{#if ruleOwner}}
            &nbsp;&nbsp;
            <span><a href="/rule/{{_id}}/edit" class="no-und">Edit</a></span>
            {{/if}}
          </p>

        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone equation-position">
          {{#mathjax}}<p>$${{equation}}$$</p>{{/mathjax}}<br>
        </div>
      </div>
    </div>
  </div>

  <div class="job-page page mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <!-- list comments -->
    <div class="comments mdl-grid">
    	{{#each comments}}
    		{{> commentItem}}
    	{{/each}}
    </div>

    <!-- if user is logged in, they can comment -->
    {{#if currentUser}}
    	{{> commentSubmit}}
    {{else}}
    	<p>&nbsp;&nbsp;&nbsp;Please log in to leave a comment.</p>
    {{/if}}
  </div>
</template>