<head>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
</head>

<template name="ruleSubmit">
<!-- change css class 'post-page' to name specific for cB -->
	<div class="mdl-cell mdl-cell--12-col">
		<h5>Add Rules</h5>
	</div>

  <div class="mdl-cell mdl-cell--12-col">
	  <div class="mdl-color--white mdl-shadow--2dp padding-8">
	    <form class="job-form">        
	      <div class="mdl-grid">
	        <div class="mdl-cell mdl-cell--6-col">
	          <!-- <div class="{{errorClass 'title'}} project-lists-table"> -->
	            <div class="mdl-textfield mdl-js-textfield">
	              <input name="title" id="title" type="text" class="mdl-textfield__input">
	              <label class="mdl-textfield__label" for="title">Title</label>
	            </div>
	            <!-- <span class="help-block"><br>{{errorMessage 'title'}}</span> -->
	          <!-- </div> -->
	        </div>

	        <div class="mdl-cell mdl-cell--6-col">
	          <div class="mdl-textfield mdl-js-textfield">
	            {{> inputAutocomplete settings=settings name="tags" class="input-xlarge mdl-textfield__input" autocomplete="off"}}
	            <label class="mdl-textfield__label" for="tags">Add tags (eg: #civil or #structural)</label>
	          </div>
	        </div>
	        
	        <div class="mdl-cell mdl-cell--12-col">
	          <div class="mdl-textfield mdl-js-textfield">
	            <textarea name="ruletext" id="ruletext" type="text" class="mdl-textfield__input description-textarea" rows="3"></textarea>
	            <label class="mdl-textfield__label" for="ruletext">Description (include references, section number, page number, year, etc.)</label>
	          </div>
	        </div>

	        <div class="mdl-cell mdl-cell--6-col">
	          <div class="mdl-textfield mdl-js-textfield">
	            <textarea name="equation" id="equation" type="text" class="mdl-textfield__input description-textarea" rows="3"></textarea>
	            <label class="mdl-textfield__label" for="equation">Enter equation</label>
	          </div>
	        </div>

	        <div class="mdl-cell mdl-cell--6-col equation-position">
		        {{#mathjax}}<p id="equationPreview"></p>{{/mathjax}}
	        </div>

	        <div class="mdl-cell mdl-cell--12-col">  
	          <input type="submit" value="add" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submit">

	        </div>
	      </div>
	    </form>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
	  <p class="italic-note">&nbsp;&nbsp;&nbsp;Note: LaTeX syntax is used to render the equations on this webpage.  For help on writing equations, click <a href="https://en.wikibooks.org/wiki/LaTeX/Mathematics">here</a>.</p>
	</div>

</template>