<template name="jobEdit">

	<!-- pick the date that was set -->
	<script>
		$(function() {
			$( "#datepicked" ).datepicker();
		});
	</script>

	<form class="form job-form">
		<div class=" mdl-grid mdl-grid--no-spacing">
			<h6 class="padding-left-16 margin-bottom-none">
				Project: <a href="/project/{{project}}"><strong>{{projectName}}</strong></a>
			</h6>
			
			<div class="mdl-layout-spacer"></div>

			<a href="/job/{{_id}}" class="margin-top-18 padding-8 padding-right-16">Cancel</a>

			<input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submit margin-top-18 margin-right-16">
		</div>

		<div class="padding-8 padding-left-16"> 
			{{#if hasFlow}}
				<p class="no-bottom-margin">
					<strong>Warning</strong>: <em>This job is currently part of a FLOW.  Any changes made to this job may not be reflected in the FLOW.</em>
				</p>
			{{/if}}
		</div>

		<!-- start form -->
		<div class="mdl-grid">
			<!-- required fields -->
			<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
				<div class="mdl-card__supporting-text mdl-card--border">
					<!-- title input -->
					<p>Job Title <strong>(required)</strong></p>
					<!-- errorClass for validation -->
					<div class="{{errorClass 'title'}}">
						<div class="mdl-textfield mdl-js-textfield">
							<input name="title" id="title" type="text" value="{{title}}" class="mdl-textfield__input"/>
							<label class="mdl-textfield__label" for="title">Title</label>
						</div> 
						<span class="help-block">{{errorMessage 'title'}}</span>
					</div>

					<!-- assignee input -->
					<p>Discipline <strong>(required)</strong></p>
					<div class="{{errorClass 'assignee'}}">
						<div class="mdl-textfield mdl-js-textfield">
							<select name="assignee" id="assignee" type="text" value="" class="mdl-textfield__input mdl-selectfield__input">
								<option value="" disabled>- Please select -</option>
								<option selected>{{assignee}}</option>
								<hr>
								{{#each assignments}}
									<option>{{title}}</option>
								{{/each}}
							</select>
						</div>
						<span class="help-block">{{errorMessage 'assignee'}}</span>
					</div>

					<!-- deadline input -->
					<p>Deadline (YYYY/MM/DD) <strong>(required)</strong></p>
					<div class="{{errorClass 'deadline'}}">
						<div class="mdl-textfield mdl-js-textfield">
							<input name="deadline"  type="text" id="datepicker" value="{{deadline}}" class="mdl-textfield__input"/>
						</div>
						<span class="help-block">{{errorMessage 'deadline'}}</span>
					</div>
				</div>
			</div>

			<!-- optional fields -->
			<div class="mdl-cell mdl-cell--12-col">
				<h6 class="no-bottom-margin">Optional fields</h6>
			</div>

			<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
				<div class="mdl-card__supporting-text mdl-card--border">
					<!-- description input -->
					<p>Describe Job</p>
					<div class="form-group {{errorClass 'description'}}">
						<div class="mdl-textfield mdl-js-textfield">
							<textarea name="description" id="description" type="text" value="{{description}}" class="mdl-textfield__input description-textarea" rows="3"></textarea>
							<label class="mdl-textfield__label" for="description">Description</label>
						</div>
						<span class="help-block">{{errorMessage 'description'}}</span>
					</div>

					<!-- current tags -->
					<div class="tags-list">
						{{#each tagsList}}
							<div class="tag-pill" name="current-tag" value="{{this}}">{{this}}&nbsp;&nbsp;<a href="#" class="remove-tag">&times;</a></div>&nbsp;
						{{/each}}
					</div>
					
					<!-- tag field -->
					<div>
						<div class="mdl-textfield mdl-js-textfield">
							{{> inputAutocomplete settings=settings name="tags" id="tag" class="input-xlarge mdl-textfield__input" placeholder="" autocomplete="off"}}
							<label class="mdl-textfield__label" for="tags">Add tags... (example: #civil or #structural)</label>
						</div>
					</div>

					<!-- predecessor input -->
					<div>
						<div class="mdl-textfield mdl-js-textfield job-select-list">
							<span>Job List</span> <br>
							<span class="small-note-font">(Click to add to predecessor list)</span>
							<select name="predecessor1" id="select1" type="text" class="mdl-textfield__input mdl-selectfield__input select-list-height lightblue50" size="10" multiple>
								{{#each jobs project}}
									<option class="switch" value="{{_id}}">{{title}}</option>
								{{/each}}
							</select>
						</div>

						<div class="mdl-textfield mdl-js-textfield job-select-list right-align">
							<span>Predecessor List</span> <br>
							<span class="small-note-font">(Click to remove from predecessor list)</span>            
							<select name="predecessor2" id="select2" type="text" class="mdl-textfield__input mdl-selectfield__input select-list-height lightblue50" size="10" multiple>
								{{#if thereArePredecessors}}
									{{#each predecessor}}
										<option class="switch" value="{{this}}">{{predecessorTitle}}</option>
									{{/each}}
								{{/if}}
							</select>
						</div>
					</div>

					<p>Cloud Folder Link</p>
					<div class="mdl-textfield mdl-js-textfield">
						<input name="dropboxlink" id="dropboxlink" type="text" value="{{dropboxlink}}" class="mdl-textfield__input"/>
						<label class="mdl-textfield__label" for="dropboxlink"></label>
					</div> 
				</div>
			</div>

			<!-- submit button -->
			<div class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing">
				<a class="mdl-button mdl-js-button mdl-js-ripple-effect delete" href="#"><i class="material-icons md-light">delete</i> Delete job</a>

				<div class="mdl-layout-spacer"></div>

				<a href="/job/{{_id}}" class="padding-8 padding-left-16">Cancel</a>

				<input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submit">
			</div>
		</div>
	</form>
</template>