<template name="jobPage">
<!-- change css class 'post-page' to name specific for cB -->
  <div class="job-page page mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing">
    <h6>Project: <a href="/project/{{project}}"><strong>{{projectName}}</strong></a></h6>
    <div class="mdl-layout-spacer"></div>
    <a href="/project/{{project}}/submit">
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent margin-bottom-16 margin-top-16">
			  <i class="material-icons md-light">add</i> NEW JOB
			</button>
    </a>
   
  	<!-- show the job-item template -->
  	<!-- new issue for later -->
  	<!-- change to a different template because job-item will -->
  	<!-- look different on the list page vs. job page -->
    {{> jobItem}}
  </div>
  
  <div class="mdl-cell mdl-cell--12-col mdl-color--white mdl-shadow--2dp">
  	{{#if gotJobCosts}}
  		<div class="margin-20">
  			<span class="right-align"><strong>Total Cost: {{totalCost}}</strong></span>
		  	{{#each jobCosts}}
					<a href="/cost/{{_id}}"><strong>{{title}}</strong></a> : {{showActualCost}} <br>
		  	{{/each}}
  		</div>
		{{/if}}

  	<!-- link to add cost -->
    <a href="/job/{{_id}}/cost/submit" class="mdl-button mdl-js-button mdl-js-ripple-effect full-width no-padding">
			<i class="material-icons md-light">add</i>add cost data
		</a>
	</div>

  <!-- list comments -->
  <div class="job-page page mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
    <div class="comments mdl-grid">
    	{{#each comments}}
    		{{> commentItem}}
    	{{/each}}
    </div>

    <!-- if user is logged in, they can comment -->
    {{#if teamMember}}
    	{{> commentSubmit}}
    {{else}}
    	<p>&nbsp;&nbsp;&nbsp;You must be a team member to leave a comment.</p>
    {{/if}}
  </div>
</template>