<template name="jobItem">
	<!-- change css -->
  <div class="demo-card-wide {{cardBackground}} mdl-shadow--2dp mdl-cell mdl-cell--12-col card-centered job-item">
   
  	<!-- title -->
   	<div class="mdl-card__title mdl-card--border">
	    <span class="job-title">#{{jobNo}}: </span> &nbsp;
	    <h6 class="job-title"><a href="{{pathFor 'jobPage'}}">{{title}}</a></h6>
	    <span class="job-title">{{assignee}} | Due Date: {{deadline}}</span>
	    	
  	  <div class="mdl-layout-spacer"></div>
  
  		<!-- done-checkbox -->
      <div class="open-done-toggle">
        {{#if deleted}}
          <span class="mdl-button mdl-js-button mdl-js-ripple-effect deleted">
            DELETED <i class="material-icons">delete</i>
          </span>
        {{else}}
          {{#if isLocked}}
            <span class="mdl-button mdl-js-button mdl-js-ripple-effect locked" disabled>
            	LOCKED <i class="material-icons">lock_outline</i>
            </span>
          {{else}}
            <span class="mdl-button mdl-js-button mdl-js-ripple-effect toggle-checked">
              {{#if isChecked}} 
                DONE <i class="material-icons done">check</i>
              {{else}}
                OPEN <i class="material-icons open">lock_open</i>
              {{/if}}
            </span>
          {{/if}}
        {{/if}}
	  	</div>
	 	</div>
   

    <div class="job-item-body">
      <!-- supporting text -->
      <div class="mdl-card__supporting-text ">
        <!-- due date and description attributes -->
        <p>
          Added by <a href="/user/{{userId}}">{{findUsername userId}}</a> at {{convertDate submitted}}<br>
          <pre class="pre-text">Description: {{ifDescription description}}<br></pre>
          Tags:&nbsp;&nbsp;{{#each tagsList}}<div class="tag-pill"><a href="/tags/{{tagId}}">#{{this}}</a></div>&nbsp;{{/each}}
        </p>
          
        
        {{#if hasFlow}}
          <p class="no-bottom-margin"><a href="/flow/{{flow}}" class="no-und">{{flowName}}</a></p>
        {{/if}}
        {{#if hasPredOrDesc}}
          <div class="job-item-table">
            <div class="mdl-grid mdl-grid--no-spacing">
              <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone text-center border-12">
              	<div class="padding-8">
                	Predecessors ({{predecessorCount}})
                </div>
              </div>
              <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone text-center border-top-12 border-right-12 border-bottom-12">
              	<div class="padding-8">
	                Descendants ({{descendantCount}})
                </div>
              </div>
            </div>
            <div class="mdl-grid mdl-grid--no-spacing">
                <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone border-notop-12">
                	<div class="padding-8 padding-left-24">
	                	{{#each predecessor}}<a href="/job/{{this}}">{{predecessorTitle}}</a><br>{{/each}}
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone border-right-12 border-bottom-12">
                	<div class="padding-8 padding-left-24">
	                	{{#each descendant}}<a href="/job/{{this}}">{{descendantTitle}}</a><br>{{/each}}
                    </div>
                </div>
            </div>
          </div>
        {{/if}}

        <p>Cloud Folder Link: <a href="{{dropboxlink}}">{{dropboxlink}}</a></p>
      </div>

      <!-- command buttons at bottom right -->
      <div class="mdl-card__actions mdl-card--border mdl-cell mdl-cell--12-col mdl-grid job-item-actions">
        <!-- links to edit job, comments, and attachments -->
        <!-- Remove button format and replace text with appropriate icon -->
        <!-- hide edit-job if not owner of job or logged out -->
        {{#if teamMember}}
          <!-- Link to the job-edit page -->
          <a href="{{pathFor 'jobEdit'}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
            <i class="material-icons">edit</i>
          </a>
		    {{/if}}      
        
        <!-- Attachment button link -->
        <!-- <a href="#" class="mdl-button mdl-js-button mdl-button-()-fab mdl-button-()-mini-fab mdl-js-ripple-effect"> -->
          <!-- <i class="material-icons">attachment</i> -->
        <!-- </a> -->
        
        <!-- Link to the jobs page where comments will be shown -->
        <a href="{{pathFor 'jobPage'}}" class="mdl-button mdl-js-button mdl-js-ripple-effect">
          {{commentsCount}}  <i class="material-icons">chat</i>
        </a>

        <!-- spacer to align rest on the right-->
        <div class="mdl-layout-spacer"></div>
        
        {{#unless deleted}}
          <span class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect delete"><i class="material-icons">delete</i></span>
        {{/unless}}
      </div>
    </div>
  </div>
</template>

