<template name="newJob">
	<form class="form job-form">
		<div class=" mdl-grid mdl-grid--no-spacing padding-sides-16">
			<h6 class="padding-left-16">
				New Job for <a href="/project/{{_id}}"><strong>{{title}}</strong></a>
			</h6>
			<div class="mdl-layout-spacer"></div>
			<a href="/project/{{_id}}" class="margin-top-18 padding-8 padding-right-16">Cancel</a>

			<input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent margin-top-18 margin-right-16 submit">
		</div>

		
		<div class="mdl-grid">
			<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

				<!-- required fields -->		
				<div class="mdl-card__supporting-text mdl-card--border">
					<span>#{{newJobNo}}</span>
					<!-- job title input -->
					<div class="{{errorClass 'title'}}">
						<div class="mdl-textfield mdl-js-textfield">
							<input name="title" id="title" type="text" class="mdl-textfield__input" placeholder="Title (required)">
							<label class="mdl-textfield__label" for="title"></label>
						</div>
						<span class="help-block">{{errorMessage 'title'}}</span>
					</div>

					<!-- assignee input -->
					<div class="{{errorClass 'assignee'}}">
						<div class="mdl-textfield mdl-js-textfield">
							<select name="assignee" id="assignee" type="text" value="" class="mdl-textfield__input mdl-selectfield__input">
								<option value="" selected>Assign to...</option>
								{{#each assignments}}
									<option>{{title}}</option>
								{{/each}}
							</select>
						</div>
						<span class="help-block">{{errorMessage 'assignee'}}</span>
					</div>

					<!-- deadline input -->
					<div class="{{errorClass 'deadline'}}">
						<div class="mdl-textfield mdl-js-textfield">
							<input name="deadline" type="text" id="datepicker" class="mdl-textfield__input" placeholder="Deadline (YYYY/MM/DD)" autocomplete="off">
						</div>
						<span class="help-block">{{errorMessage 'deadline'}}</span>
					</div>
				</div> <!-- end required fields -->
			</div>

			<!-- show optional fields -->
			<div class="mdl-cell mdl-cell--12-col">
				<h6 class="no-bottom-margin">Optional fields</h6>
			</div>

			<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
				<div class="mdl-card__supporting-text mdl-card--border">

					<!-- description input -->
					<p>Describe Job</p>
					<div class="{{errorClass 'description'}}">
						<div class="mdl-textfield mdl-js-textfield">
							<textarea name="description" id="description" type="text" class="mdl-textfield__input description-textarea" rows="3"></textarea>
							<label class="mdl-textfield__label" for="description">Description</label>
						</div>
						<span class="help-block">{{errorMessage 'description'}}</span>
					</div>

					<!-- tag input -->
					<p>Tags</p>
					<div>
						<div class="mdl-textfield mdl-js-textfield">
							{{> inputAutocomplete settings=settings name="tags" class="input-xlarge mdl-textfield__input" placeholder="" autocomplete="off"}}
							<label class="mdl-textfield__label" for="tags">example: #civil or #structural</label>
						</div>
					</div>

					<!-- predecessor input -->
					<div>
						<div class="mdl-textfield mdl-js-textfield job-select-list">
							<span>Job List</span> <br>
							<span class="small-note-font">(Click to add to predecessor list)</span>
							<select name="predecessor1" id="select1" type="text" class="mdl-textfield__input mdl-selectfield__input select-list-height lightblue50" size="10" multiple>
								{{#each jobs _id}}
									<option class="switch" value="{{_id}}">{{title}}</option>
								{{/each}}
							</select>
						</div>

						<div class="mdl-textfield mdl-js-textfield job-select-list right-align">
							<span>Predecessor List</span> <br>
							<span class="small-note-font">(Click to remove from predecessor list)</span>            
							<select name="predecessor2" id="select2" type="text" class="mdl-textfield__input mdl-selectfield__input select-list-height lightblue50" size="10" multiple>
							</select>
						</div>
					</div>

					<p>Cloud Folder Link</p>
					<div class="mdl-textfield mdl-js-textfield">
						<input name="dropboxlink" id="dropboxlink" type="text"  class="mdl-textfield__input">
						<label class="mdl-textfield__label" for="dropboxlink">Link</label>
					</div>
				</div>
			</div>

			<!-- Submit button -->
			<div class="mdl-cell mdl-cell--12-col">
				<div class="right-align">
					<a href="/project/{{project}}" class="padding-right-16">Cancel</a>

					<input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submit">
				</div>
			</div>

		</div> <!-- end mdl-grid -->
	</form>
</template>